syntax:glob

logs
project/project
project/target
target
dist

/.idea/

# School-specific files
fairhaven/*
the_circle_school/*
trvs/*
makarios_learning_community/*

*~
connect_to_server.bat
copy_release_to_server.bat
winscp_script.txt

# Sublime Text files
*.sublime-workspace
