syntax:glob

logs
project/target
target
dist

.bsp/
.idea/workspace.xml

# JS stuff
node_modules/
app/assets/javascripts/gen
app/assets/checkin/app.html
.eslintcache
npm-debug.log

# School-specific files
fairhaven/*
the_circle_school/*
trvs/*
makarios_learning_community/*

*~

# Sublime Text files
*.sublime-workspace

conf/generated.keystore

__pycache__/

# Clojure VS Code plugin stuff
/.clj-kondo
/.lsp

# Mac stuff
.DS_Store