
html, body, #container, table {
	height: 100%;
}

body {
	margin: 0;
	background: #ddd;
}

#container {
	position: absolute;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

#overlay.disabled {
	background: #000;
	opacity: 0.2;
	z-index: 1;
}

table {
	width: 100%;
	margin: auto;
	table-layout: fixed;
	border-spacing: 0;
}

.number-button, .arriving-button, .leaving-button, .clear-button {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	transition-property: background-color;
	transition-duration: 0.5s;
}

.highlight {
	transition-property: none;
}

.number-button {
	background-color: #fff;
	font-size: 2em;
	color: #555;
}

.number-button.highlight {
	background-color: #c2f6ff;
}

.arriving-button, .leaving-button, .clear-button {
	color: #fff;
	font-size: 1em;
}

.arriving-button {
	background: #08b860;
}

.arriving-button.highlight {
	background-color: #008d46;
}

.leaving-button {
	background: #1388c2;
}

.leaving-button.highlight {
	background-color: #015f8d;
}

.clear-button {
	background: #888;
}

.clear-button.highlight {
	background-color: #555;
}

.cross {
	font-size: 1.3em;
	vertical-align: middle;
}

.arrow {
	font-size: 2em;
	vertical-align: middle;
}
