pom.xml
*.dump
*.swp
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/.lein-repl-history
/.nrepl-port
/resources/config.edn
/profiles.clj
*.iml
.idea/
/node_modules/
/src/overseer/queries/demo.sql
/src/js/.tern-port
