pom.xml
*.log
*.dump
*.swp
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/.lein-repl-history
/.nrepl-port
/resources/config.edn
/profiles.clj
*.iml
.idea/
/node_modules/
/resources/public/js/gen
/src/overseer/queries/demo.sql
/src/js/.tern-port
/src/overseer/queries/generated-demo.sql
/src/overseer/queries/test.sql
/log/app.log
/hs_err_pid20615.log
/test/log4j.properties

*.sublime-project
*.sublime-workspace
