<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/django-static/favicon.ico">

    <title>Custodia</title>

    <link href="/django-static/css/bootstrap.min.css?v=2" rel="stylesheet">
    <link href="/django-static/css/bootstrap-theme.min.css?v=2" rel="stylesheet">

    <link href="/django-static/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    {% csrf_token %}
    <div id="react_container"/>
    {{ dev_js_link | safe}}
</body>

</html>
