body {
    padding-top: 10px;

    margin-left: 20px;
    margin-right: 20px;
}

.person_tag {
    background: #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #666;
    padding: 2px;
}

a:link, a:visited {
    color: #1f8dd6;
}

a:hover {
    color: #33f;
}

#comments {
}

.comment {
  padding-bottom: 20px;
}

.comment_time {
  color:#666;
  font-size: 11px;
  padding-left: 40px;
}
