#meeting .form-control
{
    display:inline;
    width: auto;
    height: auto;
    padding: 2px 4px;
}

.case .esm-form-label
{
    text-align: right;
    width: 100px;
    font-weight: bold;
}

.case
{
    margin-top:40px;
}

.case textarea
{
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge textarea
{
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge :checked + span
{
    background-color: #ff0;
}

.charge .people_chooser .label
{
    width: 200px;
    display: inline-block;
}

.charge
{
    margin-top: 8px;
    padding-top: 3px;
    border-top: 1px solid #3a87ad;
}

.rule_chooser {
    display: inline;
}

.people_chooser {
    display: inline;
}

.people_chooser .glyphicon {
    right: 20px;
    top: 3px;
}

.people_chooser .people {
    display: inline;
}

.person img {
    cursor: pointer;
}

.person .label
{
    font-size: inherit;
}

.person
{
  display:inline;
}

body {
    font-size: 12px;

    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.limit_height {
  max-height: 60px;
  overflow: hidden;
}


