.person_tag {
    background: #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #666;
    padding: 2px;
}

a:link, a:visited {
    color: #1f8dd6;
}

a:hover {
    color: #33f;
}
