#meeting .form-control
{
    display:inline;
    width: auto;
    height: auto;
    padding: 2px 4px;
}

.case .esm-form-label
{
    text-align: right;
    width: 100px;
    font-weight: bold;
}

.case
{
    margin-top:40px;
}

.case textarea
{
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge textarea
{
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge :checked + span
{
    background-color: #ff0;
}

.charge .people_chooser .label
{
    width: 200px;
    display: inline-block;
}

.charge
{
    margin-top: 8px;
    padding-top: 3px;
    border-top: 1px solid #3a87ad;
}

.rule_chooser {
    display: inline;
}

.people_chooser {
    display: inline;
}

.people_chooser .glyphicon {
    right: 20px;
    top: 3px;
}

.people_chooser .people {
    display: inline;
}

.person img {
    cursor: pointer;
}

.person .label
{
    font-size: inherit;
}

.person
{
  display:inline;
}

.rule .label
{
    display:inline-block;
    font-size: inherit;
    width: 200px;
}

.rule
{
    display:inline-block;
}

#sidebar
{
    position: fixed;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    font-size: 12px;

    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.limit_height {
  max-height: 60px;
  overflow: hidden;
}


.resolution_plans tbody>tr>td {
    padding: 0px 2px;
}

.case_notes tbody>tr>td {
    padding: 4px;
}

.case_notes ol {
    -webkit-padding-start: 10px;
}

li.username {
    float:right;
}

a.username {
    font-weight: bold;
}

.charge label {
    font-weight: normal;
}


/* Used in case display */
.table tbody>tr>td.sm_decision {
    padding-left: 1in;
    padding-right: 1in;
    background: #ccc;
}


