#meeting
{
}

.case
{
    margin-top:40px;
}

body {
    padding-top: 10px;

    margin-left: 20px;
    margin-right: 20px;
}

.person_tag {
    background: #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #666;
    padding: 2px;
}

#comments {
}

.comment {
  padding-bottom: 20px;
}

.limit_height {
  max-height: 60px;
  overflow: hidden;
}

.comment_tasks {
  padding-left: 40px;
}

.comment_time {
  color:#666;
  font-size: 11px;
  padding-left: 40px;
}

.person {
  border: 1px solid rgb(121, 147, 252);
  background: #f7f7f7;
  padding: 3px;
  margin-bottom: 10px;
  display:inline;
}

.person .male {
    float: right;
    background-color: #87a8fb;
    padding: 0 10px;
}

.person .female {
    float: right;
    background-color: #fb87ce;
    padding: 0 10px;
}

.person .other_gender {
    float: right;
    background-color: #be98e6;
    padding: 0 10px;
}

.person .student {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('/assets/images/gold_star.png');
}

.tag_x {
}

.first_uncompleted
{
    font-weight: bold;
    background: #ffff00;
}

.people_chooser {
    display:inline;
}

/*********************************
 Twitter Bootstrap tweaks
 *********************************/

.form-horizontal .control-group {
   margin-bottom: 5px;
}

.form-horizontal a {
   margin-left: 150px;
}

.form-horizontal hr {
   margin: 8px 0;
   border-top: 1px solid #999;
}


