#meeting .form-control
{
    display:inline;
    width: auto;
    height: auto;
    padding: 2px 4px;
}

.case .esm-form-label
{
    text-align: right;
    width: 100px;
    font-weight: bold;
}

.case
{
    margin-top:40px;
}

.case textarea
{
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge textarea
{
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.charge :checked + span
{
    background-color: #ff0;
}

.charge .people_chooser .label
{
    width: 200px;
    display: inline-block;
}

.charge
{
    margin-top: 8px;
    padding-top: 3px;
    border-top: 1px solid #3a87ad;
}

.rule_chooser {
    display: inline;
}

.people_chooser {
    display: inline;
}

.people_chooser .glyphicon {
    right: 20px;
    top: 3px;
}

.people_chooser .people {
    display: inline;
}

.name img {
    cursor: pointer;
}

.name .label
{
    font-size: inherit;
    cursor: pointer;
}

.name
{
  display:inline;
}

.rule .label
{
    cursor: pointer;
    display:inline-block;
    font-size: inherit;
    width: 200px;
}

.rule
{
    display:inline-block;
}

#sidebar
{
    position: fixed;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

label {
	font-weight: normal;
}

body {
	font-size: 12px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment {
  padding-bottom: 20px;
}

.limit_height {
  max-height: 50px;
  overflow: hidden;
}


.resolution_plans tbody>tr>td {
    padding: 0px 2px;
}

.case_notes tbody>tr>td {
    padding: 4px;
}

.case_notes ol {
    -webkit-padding-start: 10px;
}

li.username {
    float:right;
}

a.username {
    font-weight: bold;
}

.charge label {
    font-weight: normal;
}


/* Used in case display */
.table tbody>tr>td.sm_decision {
    padding-left: 1in;
    padding-right: 1in;
    background: #ccc;
}

.scroll-table {
    margin-right: 30px;
    width: 300px;
}

.scroll-table thead > tr, .scroll-table tbody {
    display: block;
    width: 300px;
}

.scroll-table tbody {
    height: 350px;
    overflow: auto;
}

.printable-res-plans {
	width: 6in;
}

.printable-res-plans td.name {
    font-weight: bold;
	font-size: 14px;
}

.rule_id  {
	color: #ccc;
}

a.edit_link {
	color:#99f;
	font-size: 0.8em;
}

.sm-decision { background: #ff9; }

.checkbox {
	width: .25in;
	height: .25in;
	border: 1px solid black;
}

.comment_tasks {
  padding-left: 40px;
}

.comment_time {
  color:#666;
  font-size: 11px;
  padding-left: 40px;
}

.person {
  border: 1px solid rgb(121, 147, 252);
  background: #f7f7f7;
  padding: 3px;
  margin-bottom: 10px;
}

.person .male {
    float: right;
    background-color: #87a8fb;
    padding: 0 10px;
}

.person .female {
    float: right;
    background-color: #fb87ce;
    padding: 0 10px;
}

.person .other_gender {
    float: right;
    background-color: #be98e6;
    padding: 0 10px;
}

.person .student {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('/assets/images/gold_star.png');
}

.tag_x {
}

.first_uncompleted
{
    font-weight: bold;
    background: #ffff00;
}

/*********************************
 Twitter Bootstrap tweaks
 *********************************/
 
.form-horizontal .controls {
	margin-left: 160px;
}

.form-horizontal .form-group {
   margin-bottom: 5px;
}

.form-horizontal .control-label {
	padding-right: 0px;
}

.form-horizontal a {
   margin-left: 150px;
}

.form-horizontal hr {
   margin: 8px 0;
   border-top: 1px solid #999;
}

.man-chapter {
   font-size: 18px;
   font-weight: bold;
}

.man-section {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.man-entry {
}

.man-entry-num {
	font-weight: bold;
}

.man-entry-content {
	margin-left: 40px;
	width: 6in;
}

.man-edit {
	font-weight: normal;
	font-size: 10px;
	padding-left: 10px;
}


/***************************************************************************
 * From http://stackoverflow.com/questions/9758587/twitter-bootstrap-multilevel-dropdown-menu
 */
.dropdown-submenu {
position: relative;
}

.dropdown-submenu>.dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px;
border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
display: block;
}

.dropdown-submenu>a:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #ccc;
margin-top: 5px;
margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
border-left-color: #fff;
}

.dropdown-submenu.pull-left {
float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
left: -100%;
margin-left: 10px;
-webkit-border-radius: 6px 0 6px 6px;
-moz-border-radius: 6px 0 6px 6px;
border-radius: 6px 0 6px 6px;
}

/*
 * End copy from stackoverflow
 **************************************************************************/

