{% load static %}
{% load dst_tags %}

<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        {% rollbarSnippet %}

        {% comment %}
        Uncomment this to diagnose htmx syntax errors
        <script type="text/javascript">
            document.addEventListener('htmx:syntax:error', function(evt) {
            console.error("HTMX syntax error:", evt);
            });
        </script>
        {% endcomment %}
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>


        <script type="text/javascript"
                src="{% static 'js/bundle.js' %}"></script>

        <link rel="stylesheet" media="all" href="{% static 'css/main.css' %}" />

        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>

    <div style="display:none" id="feedback-dialog" title="Feedback">
        <h3>Thanks for your feedback!</h3>
        <p>Please use this form to send a message to DemSchoolTools headquarters with your bug report,
            feature request, or other comment.</p>

        <form id="modal_feedback" method="POST" action="/sendFeedbackEmail" accept-charset="UTF-8">

            <p><label>Your Name<br />
                <input type="text" autofocus="true" size="48" name="name" value="" /></label></p>
            <p><label>Your Email<br />
                <input type="email" title="Please enter a valid email address" size="48" name="email" value="" /></label></p>
            <p><label>Feedback<br />
                <textarea name="message" cols="48" rows="8"></textarea></label></p>
            <p><input type="submit" name="feedbackForm" value="Send Message" /></p>
        </form>
    </div>

        {% with username=current_username %}
            {% if username %}
                <div class="tabbable">
                    <ul class="dst-nav nav nav-tabs navbar-default no-print">
                        <li {% if menu == "crm" %}class="active"{% endif %}>
                            <a href="/people">People</a>
                        </li>
                        {% if org_config.org.show_attendance %}
                            <li {% if menu == "attendance" %}class="active"{% endif %}>
                                <a href="/attendance">Attendance</a>
                            </li>
                        {% endif %}
                        {% if org_config.org.show_custodia %}
                            <li {% if menu == "custodia" %}class="active"{% endif %}>
                                <a href="/custodia-admin">Custodia</a>
                            </li>
                        {% endif %}
                        <li {% if menu == "jc" %}class="active"{% endif %}>
                            <a href="/">{{ org_config.str_jc_name_short }}</a>
                        </li>
                        <li {% if menu == "manual" %}class="active"{% endif %}>
                            <a href="/viewManual">{{ org_config.str_manual_title_short }}</a>
                        </li>
                        {% if org_config.org.show_roles %}
                            <li {% if menu == "roles" %}class="active"{% endif %}>
                                <a href="/roles/index">Roles</a>
                            </li>
                        {% endif %}
                        {% if org_config.org.show_accounting %}
                            <li {% if menu == "accounting" %}class="active"{% endif %}>
                                <a href="/accounting/balances">Accounting</a>
                            </li>
                        {% endif %}
                        <li {% if menu == "settings" %}class="active"{% endif %} class="dropdown">
                            <a href="/settings">Settings</a>
                        </li>
                        {% if org_config.enable_file_sharing %}
                            <li {% if menu == "misc" %}class="active"{% endif %} class="dropdown">
                                <a href="/misc/viewFiles">Misc</a>
                            </li>
                        {% endif %}
                        <li style="float:right;">
                            {% if is_user_logged_in %}
                                <a href="/logout">
                                    Logout</a>
                            {% else %}
                                <a href="/login">
                                    Login</a>
                            {% endif %}
                        </li>
                        <li {% if menu == "account" %}class="username active"{% else %}class="username"{% endif %}><a {% if is_user_logged_in %}
                                                                                                                      href="/settings/password"
                                                                                                                  {% endif %} class="username">{{ username }}</a></li>
                    </ul>

                    <div class="tab-content no-print">
                        <div class="tab-pane {% if menu == "crm" %}active{% endif %}" id="people">
                            <div class="subnav">
                                <a {% if selectedBtn == "recent_comments" %}class="active"{% endif %}
                                   href="/people">
                                    Recent comments</a>
                                <a {% if selectedBtn == "all_people" %}class="active"{% endif %}
                                   href="/allPeople">
                                    All people</a>
                                <span class="dropdown">
                                    <ul class="dropdown-menu">
                                        {% for kv in tags_with_prefixes %}
                                            {% if kv.1|length > 1 %}
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1" href="#">{{ kv.0 }}</a>
                                                    <ul class="dropdown-menu">
                                                        {% for t in kv.1 %}
                                                            <li><a href="/viewTag/{{ t.getId }}">{{ t.getTitle }}</a></li>
                                                        {% endfor %}
                                                    </ul></li>
                                            {% else %}
                                                {% for t in kv.1 %}
                                                    <li><a href="/viewTag/{{ t.getId }}">{{ t.getTitle }}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/viewAllTags">All Tags</a></li>
                                    </ul>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Tags
                                        <b class="caret"></b>
                                    </a>
                                </span>
                                <span class="dropdown">
                                    <ul class="dropdown-menu">
                                        {% for l in task_lists %}
                                            <li><a href="/viewTaskList/{{ l.getId }}">{{ l.getTitle }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Checklists
                                        <b class="caret"></b>
                                    </a>
                                </span>
                                <input id="navbar_people_search" type="search" placeholder="Search people..."/>
                                <a href="/people/new">Add a person</a>
                            </div>
                        </div>

                        {% if menu == "attendance" %}
                            <div class="tab-pane active" id="attendance">
                                <div class="subnav">
                                    <a {% if selectedBtn == "attendance_home" %}class="active"{% endif %}
                                       href="/attendance">By year
                                    </a><a class="not-link {% if selectedBtn == "week" %}active{% endif %}">
                                        View/edit week of: <input class="date attendance-week" type="textfield"></input>
                                    </a><a class="not-link {% if selectedBtn == "person" %}active{% endif %}">
                                        By person:
                                        <input id="navbar_attendance_people_search" type="search" placeholder="Search people..."/>
                                    </a><a {% if selectedBtn == "attendance_codes" %}class="active"{% endif %}
                                           href="/attendance/codes">Absence codes
                                    </a>
                                    <a {% if selectedBtn == "attendance_rules" %}class="active"{% endif %}
                                       href="/attendance/rules">Rules
                                    </a>
                                    <a {% if selectedBtn == "sign_in_sheet" %}class="active"{% endif %}
                                       href="/attendance/signInSheet">Sign In Sheet
                                    </a>
                                    {% if org_config.org.attendance_enable_off_campus %}
                                        <a {% if selectedBtn == "off_campus_time" %}class="active"{% endif %}
                                           href="/attendance/offCampusTime">Off campus time
                                        </a>
                                    {% endif %}
                                    {% if org_config.org.attendance_show_reports %}
                                        <a {% if selectedBtn == "reports" %}class="active"{% endif %}
                                           href="/attendance/reports">Reports
                                        </a>
                                    {% endif %}
                                    {% if org_config.org.show_electronic_signin %}
                                        <a {% if selectedBtn == "attendance_pins" %}class="active"{% endif %}
                                           href="/attendance/pins">Assign PINs
                                        </a>
                                        <a {% if selectedBtn == "attendance_checkin" %}class="active"{% endif %}
                                           href="/attendance/checkin">Check-in app
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "roles" %}
                            <div class="tab-pane active" id="roles">
                                <div class="subnav">
                                    <a {% if selectedBtn == "roles_index" %}class="active"{% endif %}
                                       href="/roles/index">Roles</a>
                                    <a {% if selectedBtn == "roles_new" %}class="active"{% endif %}
                                       href="/roles/newRole">Create Role</a>
                                    <a {% if selectedBtn == "roles_records" %}class="active"{% endif %}
                                       href="/roles/records">Records</a>
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "accounting" %}
                            <div class="tab-pane active" id="finance">
                                <div class="subnav">
                                    <a {% if selectedBtn == "new_transaction" %}class="active"{% endif %}
                                       href="/accounting/createTransaction">Create Transaction</a>
                                    <a {% if selectedBtn == "accounting_balances" %}class="active"{% endif %}
                                       href="/accounting/balances">Balances</a>
                                    <a {% if selectedBtn == "accounting_report" %}class="active"{% endif %}
                                       href="/accounting/report">Report</a>
                                    <a {% if selectedBtn == "accounting_accounts" %}class="active"{% endif %}
                                       href="/accounting/accounts">Manage Accounts</a>
                                    <a {% if selectedBtn == "accounting_bank_cash_balance" %}class="active"{% endif %}
                                       href="/accounting/bankCashBalance">Bank Cash Balance</a>
                                    <a {% if selectedBtn == "accounting_transactions" %}class="active"{% endif %}
                                       href="/accounting/transactions">Transactions</a>
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "jc" %}
                            <div class="tab-pane active" id="jc">
                                <div class="subnav">
                                    <a {% if selectedBtn == "jc_home" %}class="active"{% endif %}
                                       href="/">Home</a>
                                    <span>
                                        <a href="/viewToday">
                                            View</a> /
                                        <a href="/editToday">
                                            Edit today's minutes</a>
                                    </span>
                                    <a {% if selectedBtn == "rps" %}class="active"{% endif %}
                                       href="/editResolutionPlanList">
                                        {{ org_config.str_res_plans_cap }}</a>
                                    <a {% if selectedBtn == "weekly_report" %}class="active"{% endif %}
                                       href="/thisWeekReport">Weekly Report</a>
                                    <a {% if selectedBtn == "view_referred" %}class="active"{% endif %}
                                       href="/viewSchoolMeetingReferrals">
                                        {{ messages.charges_referred_to_sm }}
                                        {% with sm_charges=active_school_meeting_referrals %}
                                            {% if sm_charges|length > 0 %}
                                                <span class="badge">
                                                    {{ sm_charges|length }}
                                                </span>
                                            {% endif %}
                                        {% endwith %}
                                    </a>
                                    <a {% if selectedBtn == "view_sm" %}class="active"{% endif %}
                                       href="/viewSchoolMeeting">
                                        View S.M. decisions</a>
                                    <a href="/downloadCharges">
                                        Download charges
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "manual" %}
                            <div class="tab-pane active" id="manual">
                                <div class="subnav">
                                    <a {% if selectedBtn == "toc" %}class="active"{% endif %}
                                       href="/viewManual">Table of Contents</a>
                                    <a {% if selectedBtn == "manual_print" %}class="active"{% endif %}
                                       href="/printManual">Print</a>
                                    <a {% if selectedBtn == "manual_changes" %}class="active"{% endif %}
                                       href="/viewManualChanges">
                                        Changes since a date</a>

                                    {% if selectedBtn == "search" %}
                                        <a class="active">Search</a>
                                    {% else %}
                                        <a style="text-decoration: none">
                                            <form method="GET" style="display:inline;" action="/searchManual">
                                                <input name="search_string" type="search" placeholder="Search the manual..."/>
                                                <input type="submit" class="btn btn-primary btn-xs" value="Search"/>
                                            </form>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "settings" %}
                            <div class="tab-pane active" id="settings">
                                <div class="subnav">
                                    <a {% if selectedBtn == "settings" %}class="active"{% endif %}
                                       href="/settings">Settings</a>
                                    <a {% if selectedBtn == "settings_checklists" %}class="active"{% endif %}
                                       href="/settings/checklists">Checklists</a>
                                    <a {% if selectedBtn == "settings_access" %}class="active"{% endif %}
                                       href="/settings/access">Users & Access</a>
                                    <a href="/settings/password">Change Password</a>
                                </div>
                            </div>
                        {% endif %}

                        {% if menu == "misc" %}
                            <div class="tab-pane active" id="settings">
                                <div class="subnav">
                                    <a {% if selectedBtn == "view_files" %}class="active"{% endif %}
                                       href="/misc/viewFiles">Shared Files</a>
                                    <a {% if selectedBtn == "file_sharing" %}class="active"{% endif %}
                                       href="/misc/fileSharing">Manage Shared Files</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% if flash_error %}
            <div class="flash-error"><b>Error</b><br/><br/>{{ flash_error }}</div>
        {% endif %}

        {{ content|safe }}
        <div class="no-print feedback_open" id="main_feedback_open">Have Feedback?</div>

        <script id="autocomplete-template" type="text/x-handlebars-template">
            <div class="autocomplete-selected name">
            <span class="autocomplete-selected-text label label-primary"></span>
            <img src="/assets/images/x.png"/>
            </div>
            <input type="text" class="autocomplete-text {{textFieldClass}}" name="{{textFieldName}}" size="{{textFieldSize}}"/>
            <input type="hidden" class="autocomplete-id" name="{{idFieldName}}"/>
        </script>

    </body>
</html>
