@(bundleName: String = "reactapp.js", devHost: String = "localhost", devPort: Int = 8081)

@defining(s"http://$devHost:$devPort/$bundleName") { devUrl =>
@defining(routes.Assets.versioned("javascripts/gen/" + bundleName).toString) { prodUrl =>
    <script>
      (function () {
        var devUrl = "@devUrl";
        var prodUrl = "@prodUrl";
        var s = document.createElement('script');
        s.src = devUrl;
        s.async = true;
        s.crossOrigin = 'anonymous';
        s.onload = function () {
          console.log('Loaded React app from webpack dev server (HMR enabled)');
        };
        s.onerror = function () {
          console.log('Dev server not available, falling back to compiled asset');
          var sp = document.createElement('script');
          sp.src = prodUrl;
          sp.async = true;
          document.body.appendChild(sp);
        };
        document.body.appendChild(s);
      })();
    </script>
}
}
