body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 0px;
  // text-align: center;
}

.validday {
    color: #73B88A;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}


.ins {
    border-right: 5px solid gray;
    height: 100%;
}