body {
    padding-top: 50px;
}

a {
    cursor: pointer;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
    height: 100%;
}

.ngViewport.ng-scope {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}

.starter-template {
    padding: 40px 0px;
/ / text-align : center;
}

.validday {
    color: #73B88A;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.ins {
    border-right: 5px solid gray;
    height: 100%;
}

.row-same-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

.delete-button {
    padding: 5px;
    margin-left: 8px;
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.list-group-item {
    padding: 2px 15px;
}

.center {
    text-align: center;
}

.badge-green {
    background-color: green !important;
    color: white !important;
}

.badge-red {
    background-color: red !important;
    color: white !important;
}

.red {
    background-color: red;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1300px) {
    .width {
        width: 1300px;
    }
}

.student-listing {
    font-size: 1.5em;
    padding: 2px 10px 3px 10px;
    margin: 4px 5% 4px 5% !important;
    width: 90%;
}

.student-listing-table {
    text-align: center;
}
@media (min-width: 1000px) {
    /* .student-listing-table .student-listing:nth-child(odd) { */
    /*     float: left; */
    /* } */

    /* .student-listing-table .student-listing:nth-child(even) { */
    /*     float: right; */
    /* } */
}
.attended-day {
    color: green;
}
.absent-day {
    color: red;
}
/* absent */
.q0, .q1 {
    fill:		#F08080 !important;
}
.subdomain-text{
    fill: black !important;
}
/* short */
.q2 {
    fill: #EEE8AA !important;
}
/* little short */
.q3 {
    fill: #9cc069 !important;
}
/* good */
.q4 {
    fill: green !important;
}

.class-listing .panel,
.student-listing-table .panel
{
    margin: 0px 0px 0px 5px;
    overflow-x: hidden;
}

.in-class .attendance-button,
.out-class .name,
.not-in .student-listing .attendance-button,
.absent .student-listing .attendance-button,
.in .student-listing .attendance-button,
.out .student-listing a{
    float: right;
}

.out-class .attendance-button,
.in-class .name,
.not-in .student-listing a,
.absent .student-listing a,
.in .student-listing a,
.out .student-listing .attendance-button{
    float: left;
}

.edit-student {
    margin-top: 24px;
    margin-left: 3px;
}

.content {
    padding: 15px 15px 15px 25px;
}

.margined {
    margin: .5em !important;
}

.selected {
    background-color: lightblue !important;
}

.action-buttons {
    border-top: solid lightgray 1px;
    padding-top: 5px;
}

.cal-heatmap-container rect.highlight,
.cal-heatmap-container rect.now{
    stroke: lightblue;
}

.cal-heatmap-container text.now{
    fill: #0086b3;
}
