.no-print {
    display: none;
}

#footer {
    display: block;
    position: running(footer);
    font-size: 10px;
    text-align: center;
}

@page {
    @bottom-right {
/*      content: "Page " counter(page) " of " counter(pages);*/
        font-size: 10px;
    }
    @bottom-center {
        content: element(footer);
    }

    margin: 40px 20px;
}

/* Override bootstrap rule that shows links when printing */
a[href]:after {
    content: none !important;
}

.case_notes tr {
    page-break-inside: avoid;
}

/* Somebody -- twitter bootstrap? -- is leaving out the borders
   when tables are printed. Put them back. */
.table td {
    border-top: 1px solid #ddd;
}

body {
    font-family: "Garamond";
}

.man-last-modify-date, .man-entry-change-history {
    font-style: italic;
}