{% load django_vite %}

<div id="react-root"></div>

<script type="text/javascript">
  window.initialData = window.initialData || {};
  window.initialData.mode = "view";
  window.initialData.personApiUrl = "{{ person_api_url }}";
  window.initialData.customFields = {{ custom_fields_json|safe }};
  window.initialData.groups = {{ groups_json|safe }};
  window.initialData.tagOptions = {{ tags_json|safe }};
  window.initialData.peopleOptions = {{ people_json|safe }};
  window.initialData.showElectronicSignin = {{ show_electronic_signin|yesno:"true,false" }};
  window.initialData.person = {{ person_json|safe }};
  window.initialData.customFieldValues = {{ custom_field_values_json|safe }};
  window.initialData.familyMembers = {{ family_members_json|safe }};
</script>

{% vite_hmr_client %}
{% vite_react_refresh %}
{% vite_asset 'index.jsx' %}
