@(account : Account)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@main(account.getTitle(), "accounting") {

	<h2>@account.getTitle()</h2>

	@if(account.getPerson() == null) {
		<a href="@routes.Accounting.editAccount(account.getId())">Edit Account</a>
	}

	@if(account.getPerson() == null && !account.hasTransactions()) {
		<form action="@routes.Accounting.deleteAccount(account.getId())" method="post">

			<button type="submit" class="delete-account-button btn-link">Delete Account</button>
		</form>
		<br>
	}

	<table class="account-info-table">
		<tr>
			<td>Current Balance: <strong>$@account.getFormattedBalance()</strong></td>
			@if(account.getInitialBalance().signum() > 0) {
				<td>Initial Balance: $@account.getFormattedInitialBalance()</td>
			}
			@if(account.getMonthlyCredit().signum() > 0) {
				<td>Monthly Credit: $@account.getFormattedMonthlyCredit()</td>
			}
		</tr>
	</table>
	<br>

	<table class="table sortable">
		<tr>
			<th>Archived</th>
			<th>Transaction ID</th>
			<th>Date</th>
			<th>Created By User</th>
			<th>Type</th>
			<th>Description</th>
			<th>Amount</th>
		</tr>
		@for(transaction <- TransactionList.getTransactionsViewModel(account)) {
			<tr class="@(if(transaction.getArchived()) "js-archivable js-archived accounting-archived" else "js-archivable")">
				<td><input type="checkbox"
						class="js-archive"
						data-id="@transaction.getId()"
						name="archived"
						value="@transaction.getArchived()"
						@if(transaction.getArchived()){checked="checked"}
						/></td>
				<td><a href="@routes.Accounting.transaction(transaction.getId())">@transaction.getId()</a></td>
				<td>@transaction.getFormattedDate()</td>
				<td>@transaction.getCreatedByUserName()</td>
				<td>@transaction.getTypeName()</td>
				<td>@transaction.getDescription()</td>
				<td>@transaction.getFormattedAmount(true)</td>
			</tr>
		}
	</table>
	<br>
	<br>
}

<script type="text/javascript">
	initTransactionList();
</script>
