@(accounts : List[Account])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@main("Manage Accounts", "accounting", "accounting_accounts") {

	<h2>Manage Accounts</h2>
	
	<a href="@routes.Accounting.newAccount()">Create Account</a>
	<br>
	<br>

	<table class="balances-table table sortable">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th class="balance">Current Balance</th>
		</tr>
		@for(account <- accounts) {
			<tr>
				<td><a href="@routes.Accounting.account(account.id)">@account.getName()</a></td>
				<td>@account.getTypeName(OrgConfig.get(request))</td>
				<td class="balance">@account.getFormattedBalance()</td>
			</tr>
		}
	</table>
	<br>
	<br>
}