@(model : TransactionList)

@main("All Transactions", "accounting", "accounting_all_transactions") {

	<h2>All Transactions</h2>

	<div>
		<label><input type="checkbox" id="hide-archived"> Hide archived transactions</label>
	</div>
	<br>

	<table class="table sortable">
		<tr>
			<th>Archived</th>
			<th>Transaction ID</th>
			<th>Date</th>
			<th>Created By User</th>
			<th>Type</th>
			<th>Description</th>
			<th class="balance">Amount</th>
		</tr>
		@for(transaction <- model.transactions) {
			<tr class="@(if(transaction.archived) "js-archivable js-archived accounting-archived" else "js-archivable")">
				<td><input type="checkbox"
						class="js-archive"
						data-id="@transaction.id"
						name="archived"
						value="@transaction.archived"
						@if(transaction.archived){checked="checked"}
						/></td>
				<td><a href="@routes.Accounting.transaction(transaction.id)">@transaction.id</a></td>
				<td>@transaction.getFormattedDate()</td>
				<td>@transaction.getCreatedByUserName()</td>
				<td>@transaction.getTypeName()</td>
				<td>@transaction.description</td>
				<td class="balance">@transaction.getFormattedAmount(false)</td>
			</tr>
		}
	</table>
	<br>
	<br>
}

<script type="text/javascript">
	initTransactionList();
</script>