@(people : List[Person], person_to_stats : Map[Person, AttendanceStats],
  codes : List[String], codes_map : Map[String, AttendanceCode], current_people: List[Person],
  start_date: Date, end_date: Date, is_custom_date: Boolean, prev_date: Date, next_date: Date)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main("Attendance", "attendance", "attendance_home") {

<script type="text/javascript">
var fixHighlights = function() {
	var els = $('.attendance-view tr');
	els.removeClass('shade');
	var even = false;
	for (var i = 0; i < els.length; i++) {
		if ($(els[i]).css('display') !== 'none') {
			if (even) {
				$(els[i]).addClass('shade');
			}
			even = !even;
		}
	}
};

$(function() {
	if ($('input[value=current]').prop('checked')) {
		$('.attendance-view tr.inactive').hide();
	}
	fixHighlights();

	$('.sortable thead').click(fixHighlights);

	$('input[value=current]').click(function() {
		$('.attendance-view tr.inactive').hide();
		fixHighlights();
	});
	$('input[value=all]').click(function() {
		$('.attendance-view tr').show();
		fixHighlights();
	});
});
</script>

<h3>Attendance Summary</h3>
@if( !is_custom_date ) {
	<h4>For one year starting @Application.yymmddDate(Utils.getOrgConfig(request), start_date)
	    <a href="@routes.Attendance.download(Application.forDateInput(start_date))" class="download-link">
	        <span class="glyphicon glyphicon-download-alt"></span>Download as spreadsheet
	    </a>
	</h4>
	<p>
	    <a href="@routes.Attendance.index(Application.forDateInput(prev_date))">⇐ Previous Year</a>
	    @if( next_date != null ) {
	        <a href="@routes.Attendance.index(Application.forDateInput(next_date))"
	           style="margin-left: 100px;">Next Year ⇒</a>
	    }
	</p>
}
<form method="GET">
	<p>Showing
		<input type="date" name="start_date" value="@Application.forDateInput(start_date)"> to
		<input type="date" name="end_date" value="@Application.forDateInput(end_date)">
		<input type="hidden" name="is_custom_date" value="true">
		<input class="btn btn-xs btn-primary" type="submit">
	</p>
</form>
@if( next_date == null || is_custom_date ) {
	<div id="attendance-student-picker">
		<label><input type="radio" name="type" value="current"> Show only current students and staff</label><br>
		<label>
			<input type="radio" name="type" value="all" checked> Show all people who have attended
			@if( is_custom_date ) { during the date range } else { this school year }
		</label>
	</div>
}
<p style="margin-bottom: 30px;">Click on a column title to sort by that column. Click again to sort in the opposite direction.
<table class="attendance-view table sortable">
<thead>
    <th class="sorttable_sorted_reverse">First<br/>Name<span id="sorttable_sortrevind">&nbsp;▴</span></th>
    <th>Last<br/>Name</th>
	@for( code <- codes ) {
		<th width=100 class="attendance-code" style="background-color:@codes_map.get(code).getColor()">
		@codes_map.get(code).getDescription()
		</th>
	}
	<th width=100 class="attendance-code">Unknown/missing code</th>
	<th width=100>@if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) { Full Days } else { Days Present }</th>
	@if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) {
		<th width=100>Partial Days</th>
	}
	<th width=100>Total hours</th>
	<th width=100>Avg. hours per day</th>
	@if( Utils.getOrgConfig(request).org.getAttendanceShowPercent() ) {
		<th width=100>Attendance Rate</th>
	}
	@if( Utils.getOrgConfig(request).org.getAttendanceShowWeightedPercent() ) {
		@if( !is_custom_date ) {
			<th width=100>
				Weighted Att. Rate
				<span class="help-icon-wrapper">
					<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip"
						title="Weighted attendance rate counts recent days as worth more, and distant past days as worth less, with a smooth transition in between. This is only computed for the full school year.">
					</span>
				</span>
			</th>
		}
	}
	</thead>

@for( p <- people ) {
<tr
@if( !current_people.contains(p)) {
	class="inactive"
}
><td>
    @if( next_date == null ) {
        <a href="@routes.Attendance.viewPersonReport(p.getPersonId())">
    } else {
        <a href="@routes.Attendance.viewPersonReport(
            p.getPersonId(), Application.forDateInput(start_date), Application.forDateInput(next_date))">
    }
    @p.getFirstName()</a>
</td>
	<td>@p.getLastName()</td>
	@for( code <- codes ) {
		@if( person_to_stats.get(p).absence_counts.containsKey(codes_map.get(code)) ) {
			<td align="center">@person_to_stats.get(p).absence_counts.get(codes_map.get(code))</td>
		} else {
			<td align="center" class="empty">0</td>
		}
	}
	@if( person_to_stats.get(p).absence_counts.containsKey(null) ) {
		<td align="center">@person_to_stats.get(p).absence_counts.get(null)</td>
	} else {
		<td align="center" class="empty">0</td>
	}
	<td align="center">@person_to_stats.get(p).days_present</td>
	@if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) {
		<td align="center">@person_to_stats.get(p).partial_days_present</td>
	}
	<td align="center">@Attendance.format(person_to_stats.get(p).total_hours)</td>
	<td align="center">@Attendance.format(person_to_stats.get(p).averageHoursPerDay())</td>
	@if( Utils.getOrgConfig(request).org.getAttendanceShowPercent() ) {
		<td align="center">@Attendance.formatAsPercent(person_to_stats.get(p).attendanceRate())</td>
	}
	@if( Utils.getOrgConfig(request).org.getAttendanceShowWeightedPercent() ) {
		@if( !is_custom_date ) {
			<td align="center" class="attendance-weighted-value">
				@Attendance.formatAsPercent(person_to_stats.get(p).weightedAttendanceRate())
			</td>
		}
	}
}

</table>
}