@(current_date : String, people_json : String)

@import helper._

@main("Off Campus Time", "attendance", "off_campus_time") {

<h3>Add Off Campus Time</h3>

@form(routes.Attendance.saveOffCampusTime, 'class -> "form-horizontal", 'role -> "form") {

<table class="table attendance-off-campus-table">
	<tr>
		<th>Date</th>
		<th>Person</th>
		<th>Departure Time</th>
		<th>Return Time</th>
		<th>Minutes Exempted</th>
	</tr>
	@for( i <- 0 to 9 ) {
		<tr>
			<td><input type="textfield" name="day-@i" class="js-date attendance-off-campus-date" value="@current_date"></td>
			<td class="js-person-row">
				<div class="js-person-name-selected attendance-off-campus-person-selected name">
					<span class="js-person-name-selected-text label label-primary"></span>
					<img src="/assets/images/x.png">
				</div>
				<input type="text" class="js-person-name attendance-off-campus-person">
				<input type="hidden" class="js-person-id" name="personid-@i"/>
			</td>
			<td><input type="text" class="js-time attendance-off-campus-time" name="departuretime-@i"></td>
			<td><input type="text" class="js-time attendance-off-campus-time" name="returntime-@i"></td>
			<td><input type="number" min="0" max="9999" class="attendance-off-campus-time" name="minutesexempted-@i"></td>
		</tr>
	}
</table>
<input id="save" type="submit" class="btn btn-primary" value="Save">
<br><br><br><br>
}
}

<script>
	var people = @Html(people_json);
	initOffCampus(people);
</script>