@(
current_rules : List[AttendanceRule],
future_rules : List[AttendanceRule],
expired_rules : List[AttendanceRule],
codes_map : Map[String, AttendanceCode],
enable_partial_days : Boolean,
enable_late_fees : Boolean
)

@import helper._

@main("Rules", "attendance", "rules") {

	<h3>Attendance Rules</h3>

	<a href="@routes.Attendance.newRule()" class="btn btn-primary">New Rule</a>

	<h4 class="attendance-rules-category">Current Rules</h4>
	@attendance_rules_table(current_rules, codes_map, enable_partial_days, enable_late_fees)

	<h4 class="attendance-rules-category">Future Rules</h4>
	@attendance_rules_table(future_rules, codes_map, enable_partial_days, enable_late_fees)

	<h4 class="attendance-rules-category">Expired Rules</h4>
	@attendance_rules_table(expired_rules, codes_map, enable_partial_days, enable_late_fees)

	<br><br><br><br>

}