@(monday : Date,
  codes : Map[String, AttendanceCode],
  people : List[Person],
  days : Map[Person, List[AttendanceDay]],
  weeks : Map[Person, AttendanceWeek])

@import helper._

@main("Attendance data", "attendance", "week") {

<h3>Attendance weekly report @Application.yymmddDate(monday)
<a class="edit-link" href="@routes.Attendance.editWeek()?date=@Application.yymmddDate(monday)">Edit</a>
</h3>
<p><a href="@routes.Attendance.viewWeek()?date=@Application.yymmddDate(Application.addWeek(monday, -1))">&lt;&lt; Prev week</a>
 @Application.yymmddDate(monday) <a href="@routes.Attendance.viewWeek()?date=@Application.yymmddDate(Application.addWeek(monday, 1))">Next week &gt;&gt;</a>
</p>

<table class="attendance-view table sortable">
<tr>
	<th class="sorttable_sorted_reverse">First<br/>Name<span id="sorttable_sortrevind">&nbsp;▴</span></th>
	<th>Last<br/>Name</th>
	<th colspan=2>Monday</th>
	<th colspan=2>Tuesday</th>
	<th colspan=2>Wednesday</th>
	<th colspan=2>Thursday</th>
	<th colspan=2>Friday</th>
	<th width=20>Extra hours</th>
	<th width=20>Days Present</th>
	<th width=20>Total hours</th>
	<th width=20>Average hours per day</th>
	</tr>

@for( p <- people ) {
	<tr><td>@p.first_name</td><td>@p.last_name</td>
	@if( days.containsKey(p)) {
		@for( day <- days.get(p) ) {
			@if( day.code != null ) {
				@if( codes.containsKey(day.code)) {
					<td colspan=2 class="attendance-code" style="background-color:@codes.get(day.code).color">
					@codes.get(day.code).description
					</td>
				} else {
					<td colspan=2>@day.code</td>
				}
			} else {
				@if( day.start_time == null || day.end_time == null ) {
					<td colspan=2 class="attendance-error">???</td>
				} else {
					<td>@Attendance.formatTime(day.start_time)</td>
					<td>@Attendance.formatTime(day.end_time)</td>
				}
			}
		}
	} else {
		<td colspan=10></td>
	}

	@if(weeks.containsKey(p)) {
		<td>@weeks.get(p).extra_hours</td>
	} else {
		<td>--</td>
	}

    @if( days.containsKey(p) && weeks.containsKey(p) ) {
        <td>@Attendance.format(Attendance.getDaysPresent(days.get(p)))</td>
        <td>@Attendance.format(Attendance.getTotalHours(days.get(p), weeks.get(p)))</td>
        <td>@Attendance.format(Attendance.getAverageHours(days.get(p), weeks.get(p)))</td>
    } else {
        <td>--</td><td>--</td><td>--</td>
    }
	</tr>
}
</table>
}