@(person : Person, days : List[AttendanceDay], weeks: Map[Date, AttendanceWeek],
  codes : List[String], codes_map : Map[String, AttendanceCode], stats: AttendanceStats,
  start_date: Date, end_date: Date, min_date: Date, max_date: Date,
  has_off_campus_time: Boolean, table_width: Integer)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main(person.getFirstName() + " " + person.getLastName() + " attendance", "attendance", "person") {

<h2>@person.getFirstName() @person.getLastName() attendance</h2>

@if( min_date != null && max_date != null ) {
    <p>@person.getFirstName()'s first recorded day at school was @Application.formatDateMdy(Utils.getOrgConfig(request), min_date), and
    last recorded day at school was @Application.formatDateMdy(Utils.getOrgConfig(request), max_date).</p>
}
<form method="GET">
	<p>Show @person.getFirstName()'s attendance from
		<input type="date" name="start_date" value="@Application.forDateInput(start_date)"> to
		<input type="date" name="end_date" value="@Application.forDateInput(end_date)">
		<input class="btn btn-xs btn-primary" type="submit">
	</p>
</form>

<h3>Summary</h3>
<p>
<button class="btn btn-xs btn-primary" id="check-all">Show all codes</button>
<button class="btn btn-xs btn-primary" id="uncheck-all">Hide all codes</button>
</p>
<table class="attendance-view table">
<thead>
    @for( code <- codes ) {
    <th width=100 class="attendance-code" style="background-color:@codes_map.get(code).getColor()">
        <label>@codes_map.get(code).getDescription()<br/>
            <input type="checkbox" checked data-code="@code"/></label>
    </th>
    }
    <th width=100 class="attendance-code">
        <label>Unknown/missing code<br/>
        <input type="checkbox" checked data-code="__null"/></label>
    </th>
    <th width=100><label>@if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) { Full Days } else { Days Present }<br/>
        <input type="checkbox" checked data-code="__present"/></label>
    </th>
    @if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) {
	    <th width=100 class="partial-days"><label>Partial Days<br/>
	        <input type="checkbox" checked data-code="__partial"/></label>
	    </th>
	}
    <th width=100>Total hours</th>
    <th width=100>Avg. hours per day</th>
    @if( Utils.getOrgConfig(request).org.getAttendanceShowPercent() ) {
    	<th width=100>Attendance Rate</th>
	}
</thead>

@for( code <- codes ) {
    @if( stats.absence_counts.containsKey(codes_map.get(code)) ) {
        <td align="center" style="background-color:@codes_map.get(code).getColor()">@stats.absence_counts.get(codes_map.get(code))</td>
    } else {
        <td align="center" class="empty">0</td>
    }
}
@if( stats.absence_counts.containsKey(null) ) {
    <td align="center">@stats.absence_counts.get(null)</td>
} else {
    <td align="center" class="empty">0</td>
}
<td align="center">@stats.days_present</td>
@if( Utils.getOrgConfig(request).org.getAttendanceEnablePartialDays() ) {
	<td align="center" class="partial-days">@stats.partial_days_present</td>
}
<td align="center">@Attendance.format(stats.total_hours)</td>
<td align="center">@Attendance.format(stats.averageHoursPerDay())</td>
@if( Utils.getOrgConfig(request).org.getAttendanceShowPercent() ) {
	<td align="center">@Attendance.formatAsPercent(stats.attendanceRate())</td>
}
</table>

<h3>Details</h3>
<table class="attendance-view table" style="max-width: @(table_width)px;">
<thead><th colspan=2 width=100>Date</th>
	<th width=50>Hours</th>
	<th width=75>Arrival time</th>
	<th width=75>Departure time</th>
	@if( has_off_campus_time ) {
		<th width=75>Off Campus Start Time</th>
		<th width=75>Off Campus End Time</th>
		<th width=75>Minutes Exempted</th>
	}
	<th width=100>Absence code</th>
	<th width=100>Extra hours (weekly)</th>
	</thead>

@for( d <- days ) {
<tr class="
	@if(d.getCode() != null) {
		@if(codes_map.contains(d.getCode())) {
			code-@d.getCode()
		} else {
			code-__null
		}
	} else {
        @if(d.getStartTime() == null || d.getEndTime() == null) {
        	code-__null
        } else {
        	@if(d.isPartial(Utils.getOrgConfig(request).org)) {
        		code-__partial
        	} else {
        		code-__present
        	}
        }
    }
    @if( d.getDay().getDay() == 5 ) {
    	friday-row
    }">
    <td width="25">@Application.formatDayOfWeek(d.getDay())
    <td width="75">@Application.formatDateMdy(Utils.getOrgConfig(request), d.getDay())</td>
	<td>@if(d.getStartTime() != null && d.getEndTime() != null) {
			@Attendance.format(d.getHours())
		} else {
			--
		}
	</td>
	<td>@Attendance.formatTime(d.getStartTime())</td>
	<td>@Attendance.formatTime(d.getEndTime())</td>
	@if( has_off_campus_time ) {
		<td>@Attendance.formatTime(d.getOffCampusDepartureTime())</td>
		<td>@Attendance.formatTime(d.getOffCampusReturnTime())</td>
		<td>@d.getOffCampusMinutesExempted()</td>
	}
	@if(d.getCode() != null) {
		@if(codes_map.contains(d.getCode())) {
			<td class="attendance-code" style="background-color:@codes_map.get(d.getCode()).getColor()">
				@codes_map.get(d.getCode()).getDescription()
			</td>
		} else {
			<td>Unknown code "@d.getCode()"</td>
		}
	} else {
		<td>
			@if(d.getStartTime() == null || d.getEndTime() == null) { -- }
		</td>
	}
	<td>
		@if( weeks.contains(d.getDay()) ) {
			@Attendance.format(weeks.get(d.getDay()).getExtraHours())
		}
	</td>
}

</table>

}

<script type="text/javascript">
$(function() {
    initAttendancePerson();
});
</script>
