@(
rule : AttendanceRule,
people_json : String,
enable_partial_days : Boolean,
enable_late_fees : Boolean
)

@import helper._

@main(if(rule.id == null) "New Attendance Rule" else "Attendance Rule #" + rule.id, "attendance") {

@if(rule.id == null) {
	<h2>New Attendance Rule</h2>
} else {
	<h2>Attendance Rule #@rule.id</h2>
}

<div class="attendance-edit-rule">

@helper.form(routes.Attendance.saveRule()) {
	<input type="hidden" name="id" value="@rule.id"/>
	<table class="attendance-edit-rule-table">
		<tr>
			<th>
				Category
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Setting a category helps you keep the list of rules organized."></span>
			</th>
			<td><input type="text" size="15" name="category" value="@rule.category"></td>
		</tr>
		<tr>
			<th>
				Person
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The person this rule applies to. Leave blank to apply the rule to everyone."></span>
			</th>
			<td class="js-person">
				<div class="attendance-edit-rule-person-selected js-person-name-selected name">
					<span class="js-person-name-selected-text label label-primary"></span>
					<img src="/assets/images/x.png">
				</div>
				<input type="text" class="js-person-name">
				<input type="hidden" class="js-person-id" name="person_id"/>
			</td>
		</tr>
		<tr>
			<th>
				Start Date
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The date when this rule starts to take effect. Leave blank to start at the beginning of time."></span>
			</th>
			<td><input type="textfield" size="10" name="start_date" class="js-date" autocomplete="off" value="@rule.getFormattedDate(rule.start_date, false)"></td>
		</tr>
		<tr>
			<th>
				End Date
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The date when this rule expires. Leave blank to never expire."></span>
			</th>
			<td><input type="textfield" size="10" name="end_date" class="js-date" autocomplete="off" value="@rule.getFormattedDate(rule.end_date, false)"></td>
		</tr>
		<tr>
			<th>
				Notification Email
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="If set, an email will automatically be sent when the rule expires."></span>
			</th>
			<td><input type="text" size="35" name="notification_email" value="@rule.notification_email"></td>
		</tr>
		<tr>
			<th>
				Days of Week
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Which days of the week the rule applies to."></span>
			</th>
			<td>
				<label><input type="checkbox" name="monday" @Html(if (rule.monday) "checked" else "")>M</label>&nbsp;
				<label><input type="checkbox" name="tuesday" @Html(if (rule.tuesday) "checked" else "")>T</label>&nbsp;
				<label><input type="checkbox" name="wednesday" @Html(if (rule.wednesday) "checked" else "")>W</label>&nbsp;
				<label><input type="checkbox" name="thursday" @Html(if (rule.thursday) "checked" else "")>Th</label>&nbsp;
				<label><input type="checkbox" name="friday" @Html(if (rule.friday) "checked" else "")>F</label>
			</td>
		</tr>
		<tr>
			<th>
				Default Code
				<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="If set, this absence code will be applied automatically when a day is initialized."></span>
			</th>
			<td><input type="text" size="10" name="absence_code" value="@rule.absence_code"></td>
		</tr>
		@if(enable_partial_days) {
			<tr>
				<th>
					Min Hours
					<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="If set, this will be used as the minimum hours required for a full day instead of the default hours configured in Settings."></span>
				</th>
				<td><input type="number" min="0" max="9" step="0.01" name="min_hours" value="@rule.min_hours"></td>
			</tr>
			<tr>
				<th>
					Latest Arrival Time
					<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="If set, this will be used as the latest arrival time allowed for a full day instead of the default time configured in Settings."></span>
				</th>
				<td><input type="text" size="10" name="_latest_start_time" value="@rule.getFormattedTime(rule.latest_start_time)"></td>
			</tr>
		}
		@if(enable_late_fees) {
			<tr>
				<th>
					Exempt from Fees
					<span class="help-icon glyphicon glyphicon-info-sign" data-toggle="tooltip" title="If checked, the person will be exempt from late departure fees."></span>
				</th>
				<td>
					<input type="checkbox" name="exempt_from_fees" @Html(if (rule.exempt_from_fees) "checked" else "")>
				</td>
			</tr>
		}
	</table>
	<input type="submit" value="Save" class="btn btn-primary">
}

@if(rule.id != null) {
	<form action="@routes.Attendance.deleteRule(rule.id)" method="post">
		<button type="submit" class="btn btn-danger"
			onclick="return confirm('Are you sure you want to delete this rule? This cannot be undone.');">
			Delete
		</button>
	</form>
}
</div>
}

<script type="text/javascript">
	var people = @Html(people_json);
	var selectedPersonId = @Html(if (rule.person != null) Integer.toString(rule.person.person_id) else "null");
	initAttendanceRule(selectedPersonId, people);
</script>