@(people : List[Person], person_to_stats : Map[Person, AttendanceStats],
  codes : List[String], codes_map : Map[String, AttendanceCode], current_people: List[Person])

@import helper._

<script type="text/javascript">
requirejs(['utils'], function() {
	var fixHighlights = function() {
		var els = $('.attendance-view tr');
		els.removeClass('shade');
		var even = false;
		for (var i = 0; i < els.length; i++) {
			if ($(els[i]).css('display') !== 'none') {
				if (even) {
					$(els[i]).addClass('shade');
				}
				even = !even;
			}
		}
	};

	$(function() {
		if ($('input[value=current]').prop('checked')) {
			$('.attendance-view tr.inactive').hide();
		}
		fixHighlights();

		$('.sortable th').click(function() {
				window.setTimeout(function() { fixHighlights(); },
			50);
		});

		$('input[value=current]').click(function() {
			$('.attendance-view tr.inactive').hide();
			fixHighlights();
		});
		$('input[value=all]').click(function() {
			$('.attendance-view tr').show();
			fixHighlights();
		});
	});
});
</script>

<h3>Attendance Summary
</h3>
<div id="attendance-student-picker">
	<label><input type="radio" name="type" value="current"> Show only current students and staff</label><br>
	<label><input type="radio" name="type" value="all" checked> Show all people who have attended this school year</label>
</div>
<p style="margin-bottom: 30px;">Click on a column title to sort by that column.
<table class="attendance-view table sortable">
<thead><th width=200>Name</th>
	@for( code <- codes ) {
		<th width=100 class="attendance-code" style="background-color:@codes_map.get(code).color">
		@codes_map.get(code).description
		</th>
	}
	<th width=100 class="attendance-code">Unknown/missing code</th>
	<th width=100>Days Present</th>
	<th width=100>Total hours</th>
	<th width=100>Avg. hours per day</th>
	</thead>

@for( p <- people ) {
<tr
@if( !current_people.contains(p)) {
	class="inactive"
}
><td><a href="@routes.Attendance.viewPersonReport(p.person_id)">@p.first_name @p.last_name</a></td>
	@for( code <- codes ) {
		@if( person_to_stats.get(p).absence_counts.containsKey(codes_map.get(code)) ) {
			<td>@person_to_stats.get(p).absence_counts.get(codes_map.get(code))</td>
		} else {
			<td class="empty">0</td>
		}
	}
	@if( person_to_stats.get(p).absence_counts.containsKey(null) ) {
		<td>@person_to_stats.get(p).absence_counts.get(null)</td>
	} else {
		<td class="empty">0</td>
	}
	<td>@person_to_stats.get(p).days_present</td>
	<td>@Attendance.format(person_to_stats.get(p).total_hours)</td>
	<td>@Attendance.format(person_to_stats.get(p).total_hours / person_to_stats.get(p).days_present)</td>
}

</table>
