@(days : List[AttendanceDay])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main("Off Campus Time", "attendance", "off_campus_time") {

<h3>Off Campus Time</h3>

<a href="@routes.Attendance.addOffCampusTime()">Add off campus time</a>

@form(routes.Attendance.deleteOffCampusTime(), Symbol("class") -> "form-horizontal", Symbol("role") -> "form") {


<table class="table sortable">
	<tr>
		<th></th>
		<th>Date</th>
		<th>Person</th>
		<th>Departure Time</th>
		<th>Return Time</th>
		<th>Minutes Exempted</th>
	</tr>
	@for( d <- days ) {
		<tr>
			<td><input type="checkbox" name="@d.id"></td>
			<td>@Application.formatDateMdy(Utils.getOrgConfig(request), d.getDay())</td>
			<td>@d.getPerson().getDisplayName()</td>
			<td>@Attendance.formatTime(d.getOffCampusDepartureTime())</td>
			<td>@Attendance.formatTime(d.getOffCampusReturnTime())</td>
			<td>@d.getOffCampusMinutesExempted()</td>
		</tr>
	}
</table>
<input id="save" type="submit" class="btn btn-danger" value="Delete Selected">
<br><br><br><br>
}
}
