@(people : List[Person], person_to_stats : Map[Person, AttendanceStats],
  codes : List[String], codes_map : Map[String, AttendanceCode])

@import helper._


<h3>Attendance Summary</h3>
<p>Click on a column title to sort by that column.
<table class="attendance-view table sortable">
<thead><th width=200>Name</th>
	@for( code <- codes ) {
		<th width=100 class="attendance-code" style="background-color:@codes_map.get(code).color">
		@codes_map.get(code).description
		</th>
	}
	<th width=100 class="attendance-code">Unknown/missing code</th>
	<th width=100>Days Present</th>
	<th width=100>Total hours</th>
	<th width=100>Avg. hours per day</th>
	</thead>

@for( p <- people ) {
<tr><td>@p.first_name @p.last_name</td>
	@for( code <- codes ) {
		@if( person_to_stats.get(p).absence_counts.containsKey(codes_map.get(code)) ) {
			<td>@person_to_stats.get(p).absence_counts.get(codes_map.get(code))</td>
		} else {
			<td class="empty">0</td>
		}
	}
	@if( person_to_stats.get(p).absence_counts.containsKey(null) ) {
		<td>@person_to_stats.get(p).absence_counts.get(null)</td>
	} else {
		<td class="empty">0</td>
	}
	<td>@person_to_stats.get(p).days_present</td>
	<td>@Attendance.format(person_to_stats.get(p).total_hours)</td>
	<td>@Attendance.format(person_to_stats.get(p).total_hours / person_to_stats.get(p).days_present)</td>
}

</table>
