@(days : List[AttendanceDay])(implicit request: Request)

@import helper._

@main("Off Campus Time", "attendance", "off_campus_time") {

<h3>Off Campus Time</h3>

<a href="@routes.Attendance.addOffCampusTime()">Add off campus time</a>

@form(routes.Attendance.deleteOffCampusTime, 'class -> "form-horizontal", 'role -> "form") {

<table class="table sortable">
	<tr>
		<th></th>
		<th>Date</th>
		<th>Person</th>
		<th>Departure Time</th>
		<th>Return Time</th>
		<th>Minutes Exempted</th>
	</tr>
	@for( d <- days ) {
		<tr>
			<td><input type="checkbox" name="@d.id"></td>
			<td>@Application.formatDateMdy(orgConfig, d.day)</td>
			<td>@d.person.getDisplayName()</td>
			<td>@Attendance.formatTime(d.off_campus_departure_time)</td>
			<td>@Attendance.formatTime(d.off_campus_return_time)</td>
			<td>@d.off_campus_minutes_exempted</td>
		</tr>
	}
</table>
<input id="save" type="submit" class="btn btn-danger" value="Delete Selected">
<br><br><br><br>
}
}