@(currentUsername: Optional[String], orgConfig: OrgConfig, personalAccounts: List[Account], nonPersonalAccounts: List[Account])

@main(currentUsername, orgConfig, "Account Balances", "accounting", "accounting_balances") {

	<h2>Account Balances</h2>

	<div class="no-print">
		<input type="checkbox" id="hide-non-personal-accounts"> Hide non-personal accounts
		<br>
		<br>
	</div>

	<div class="col-sm-6">
		<h4>Personal Accounts</h4>
		<table class="balances-table table sortable">
			<tr>
				<th>Name</th>
				<th class="balance">Current Balance</th>
			</tr>
			@for(account <- personalAccounts) {
				<tr>
					<td><a href="@routes.Accounting.account(account.id)">@account.getName()</a></td>
					<td class="balance">@account.getFormattedBalance()</td>
				</tr>
			}
		</table>
	</div>

	<div class="col-sm-6" id="non-personal-accounts">
		<h4>Non-Personal Accounts</h4>
		<table class="balances-table table sortable">
			<tr>
				<th>Name</th>
				<th class="balance">Current Balance</th>
			</tr>
			@for(account <- nonPersonalAccounts) {
				<tr>
					<td><a href="@routes.Accounting.account(account.id)">@account.getName()</a></td>
					<td class="balance">@account.getFormattedBalance()</td>
				</tr>
			}
		</table>
	</div>

	<br>
	<br>
}

<script type="text/javascript">
	$('#hide-non-personal-accounts').change(function() {
		if (this.checked) {
			$('#non-personal-accounts').hide();
		} else {
			$('#non-personal-accounts').show();
		}
	});
</script>