@(c : Case, show_links: Boolean)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

	<tr valign="top">
	<td valign="top"><h5>@if(show_links) {<a href="@routes.Application.viewMeeting(c.getMeeting().getId())">}
		#@c.getCaseNumber() @if(show_links) {</a>} @if( c.getDateClosed() == null ) { (OPEN) }</h5>
	<p>@if( c.getDate() != null ) { @Application.formatDateShort(Utils.getOrgConfig(request), c.getDate())@if( !c.getTime().equals("") ){, @c.getTime()}. }
	@if(Utils.getOrgConfig(request).track_writer) {
		<i>Writers</i>: @c.people_at_case.filter((p: PersonAtCase) =>
			p.getRole() == PersonAtCase.ROLE_WRITER).map { tr =>
				@Html(tr.getPerson().getDisplayName())}.mkString(", ").
	}
    <span class=@if( Utils.getOrgConfig(request).hide_location_for_print ) { "no-print" } else { "" }>
        <i>Location</i>: @if(!c.getLocation().equals("")) {@c.getLocation()} else {unknown}.
    </span>
    </p></td>
	<td valign="top"><p>
		<i>@messages("who_testified")</i>
		@if( c.charges.size() == 0 && Utils.getOrgConfig(request).filter_no_charge_cases ) {
			@defining( c.people_at_case.filter(_.getRole() == PersonAtCase.ROLE_TESTIFIER).size() ) { num =>
				@num @if(num==1) { person } else { people } testified.
			}
		} else {
			@c.people_at_case.filter(_.getRole() == PersonAtCase.ROLE_TESTIFIER).map {tr =>@Html(tr.getPerson().getDisplayName())}.mkString(", ")
		}
		</p>
		<p>
		@if( Utils.getOrgConfig(request).filter_no_charge_cases && c.getDateClosed() == null &&	c.charges.size() == 0 ) {
			<i>@messages("findings_not_shown_no_charges")</i>
		} else {
			@Utils.newlineToBr(Application.generateCompositeFindingsFromChargeReferences(c))
		}
		</p>
		</td>
	<td valign="top">
		@if( c.charges.size() > 0) {
			<ol>
			@for( charge <- c.charges ) {
				<li>
				@if( charge.getPerson() != null) {
					<b>@charge.getPerson().getDisplayName()</b>:
				}
				@if( charge.getRule() != null) {
					@charge.getRule().getNumber() @charge.getRule().getTitle().
					@if( !charge.getSeverity().equals("")){(@charge.getSeverity())}
					@if( !charge.getPlea().equals("Guilty") ) { <b>@Utils.getOrgConfig(request).translatePlea(charge.getPlea()).</b> }
				}
				<u>@Utils.getOrgConfig(request).str_res_plan_short: @charge.getResolutionPlan()</u>
				</li>
			}
			</ol>
		} else {
			@messages("no_charges")
		}
	</td></tr>

	@for( charge <- c.charges ) {
		@if( charge.getReferredToSm() && charge.getSmDecision() == null) {
			<tr><td colspan="3" class="smDecision">
				@messages("awaiting_sm_decision", Utils.getOrgConfig(request).getReferralDestination(charge),
					if (charge.getPerson() == null) "???" else charge.getPerson().getDisplayName(),
				charge.getRuleTitle())

			</td></tr>
		}
		@if( !charge.getMinorReferralDestination().equals("")) {
			<tr><td colspan="3" class="smDecision">@messages("charge_against")
			@if(charge.getPerson() != null) { @charge.getPerson().getDisplayName() } else { ??? } with
			@charge.getRuleTitle() referred to
				@{charge.getMinorReferralDestination()}.
			</td></tr>
		}
		@if( charge.getSmDecision() != null ) {
			<tr><td colspan="3" class="smDecision">School meeting decision on charging
				@if(charge.getPerson() != null) { @charge.getPerson().getDisplayName() } else { ??? } with
					@charge.getRuleTitle(): @charge.getSmDecision()
			</td></tr>
		}
	}
