@(c : Comment, show_last_name: Boolean)


<div class="comment">
<b>@c.user.name</b> and 
@if( show_last_name ) {
	<a href="@routes.CRM.person(c.person.person_id)">
}
<b>@c.person.first_name @if( show_last_name ) { @c.person.last_name }</b>
@if( show_last_name ) {
</a>
}
<div class="comment_text">
@Html(c.message.replace("\n", "<br>"))
</div>
<div class="comment_tasks">
@for( ct <- c.completed_tasks ) {
	<a href="@routes.CRM.viewTaskList(ct.task.task_list.id)"><span class="label label-primary">@ct.task.title</span></a>
}
</div>
<div class="comment_time">@CRM.formatDate(c.created, orgConfig)</div>
</div>