@(c : Comment)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

<html>
<body>
<h3>An update from DemSchoolTools</h3>

<p><b>@c.user.name</b> communicated with
<a href="@{Utils.getOrgConfig(request).people_url}@routes.CRM.person(c.person.person_id)">
<b>@c.person.first_name @c.person.last_name</b>
</a>

<p><i>Notes</i><br>
@Html(c.message.replace("\n", "<br>"))

@if( c.completed_tasks.size() > 0) {
<p>The following tasks were marked complete:
<ul>
@for( ct <- c.completed_tasks ) {
	<li><a href="@{Utils.getOrgConfig(request).people_url}@routes.CRM.viewTaskList(ct.task.task_list.id)" class="label label-info">@ct.task.title</a>
}
</ul>
}
</body>
</html>