@(c : Comment, show_last_name: Boolean)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)


<div class="comment">
<b>@c.getUser().getName()</b> and
@if( show_last_name ) {
	<a href="@routes.CRM.person(c.getPerson().getPersonId())">
}
<b>@c.getPerson().getFirstName() @if( show_last_name ) { @c.getPerson().getLastName() }</b>
@if( show_last_name ) {
</a>
}
<div class="comment_text">
@Html(c.getMessage().replace("\n", "<br>"))
</div>
<div class="comment_tasks">
@for( ct <- c.completed_tasks ) {
	<a href="@routes.CRM.viewTaskList(ct.getTask().getTaskList().getId())"><span class="label label-primary">@ct.getTask().getTitle()</span></a>
}
</div>
<div class="comment_time">@CRM.formatDate(c.getCreated(), Utils.getOrgConfig(request))</div>
</div>
