@(c : Comment)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

<html>
<body>
<h3>An update from DemSchoolTools</h3>

<p><b>@c.getUser().name</b> communicated with
<a href="@{Utils.getOrgConfig(request).people_url}@routes.CRM.getPerson()(c.getPerson().getPersonId())">
<b>@c.getPerson().getFirstName() @c.getPerson().getLastName()</b>
</a>

<p><i>Notes</i><br>
@Html(c.getMessage().replace("\n", "<br>"))

@if( c.completed_tasks.size() > 0) {
<p>The following tasks were marked complete:
<ul>
@for( ct <- c.completed_tasks ) {
	<li><a href="@{Utils.getOrgConfig(request).people_url}@routes.CRM.viewTaskList(ct.getTask().getTaskList().id)" class="label label-info">@ct.getTask().getTitle()</a>
}
</ul>
}
</body>
</html>
