@(transactionForm: Form[Transaction])

@import helper._

@main("New Transaction", "accounting") {

	@helper.form(routes.Accounting.makeNewTransaction()) {
		<h2>New Transaction</h2>
		<div class="col-sm-6">
			<div id="create-transaction-options">
				<div data-type="CashDeposit" class="create-transaction-option">Cash Deposit</div>
				<div data-type="CashWithdrawal" class="create-transaction-option">Cash Withdrawal</div>
				<div data-type="CashTransfer" class="create-transaction-option">Cash Transfer</div>
				<div data-type="DigitalCredit" class="create-transaction-option">Digital Credit</div>
				<div data-type="DigitalPurchase" class="create-transaction-option">Digital Purchase</div>
				<div data-type="DigitalTransfer" class="create-transaction-option">Digital Transfer</div>
			</div>
			<div id="create-transaction"></div>
			<!-- @inputText(transactionForm("from_account_id"), '_label -> "From Account", 'class -> "form-control")
			@inputText(transactionForm("to_account_id"), '_label -> "To Account", 'class -> "form-control") -->
		</div>
	}
}

<script id="create-transaction-template" type="text/x-handlebars-template">
	<table>
		<tr>
			<th>From</th>
			<td id="create-transaction-from">
				<input type="hidden" class="js-account-id" name="from_account_id"/>
				<input type="text" class="js-account-name" name="from_name"/>
			</td>
		</tr>
		<tr>
			<th>To</th>
			<td id="create-transaction-to">
				<input type="hidden" class="js-account-id" name="to_account_id"/>
				<input type="text" class="js-account-name" name="to_name"/>
			</td>
		</tr>
		<tr>
			<th>For</th>
			<td><input type="text" name="description"/></td>
		</tr>
		<tr>
			<th>Amount</th>
			<td>$<input type="number" name="amount" min="0" step="0.01"/></td>
		</tr>
	</table>
	<input type="hidden" name="type" value="{{transactionType}}">
	<input type="submit" value="Create" class="create-transaction-submit">
</script>

<script type="text/javascript">
	var cashAccounts = @Html(Accounting.cashAccountsJson());
	var digitalAccounts = @Html(Accounting.digitalAccountsJson());
	initCreateTransaction(cashAccounts, digitalAccounts);
</script>