@(d : Donation)

<html>
<body>
<h3>An update from DemSchoolTools</h3>

<p><b>@Application.getCurrentUser().name</b> recorded a donation from
<a href="@{OrgConfig.get().people_url}@routes.CRM.person(d.person.person_id)">
<b>@d.person.first_name @d.person.last_name</b>
</a></p>

<p>Please click the link above for more information about this donation. You can also
view <a href="@{OrgConfig.get().people_url}@routes.CRM.donationsNeedingThankYou()">
all donations needing a thank you</a>.</p>

</body>
</html>
