@(form: Form[Chapter], is_new : Boolean)

@implicitField = @{ helper.FieldConstructor(myConstructor.f) }

@main("Edit a chapter", "manual") {

@if( is_new ) {
    <h2>New chapter</h2>
} else {
    <h2>Edit chapter "@form("title").value()"</h2>
}

@helper.form(routes.ApplicationEditing.saveChapter(), 'class -> "form-horizontal") {


@if(form("id").value()) {
	<input type="hidden" name="id" value="@form("id").value()"/>
}
        @helper.inputText(form("num"), '_label -> "Number")
        @helper.inputText(form("title"), '_label -> "Title", 'class-> "form-control")
		@helper.checkbox(form("deleted"), '_label -> "Check this to delete")

		<input type="submit" value="Save">
}
}
