@(meeting : Meeting, open_cases: List[Case])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main("(React) Edit meeting minutes for date " + meeting.getDate(), "jc", "edit_minutes_react") {
    <div id="react-root"></div>

    <script type="text/javascript">
      window.initialData = {}
      window.initialData.meeting_id = @meeting.getId();
      window.initialData.ROLE_JC_CHAIR = @PersonAtMeeting.ROLE_JC_CHAIR
      window.initialData.ROLE_JC_MEMBER = @PersonAtMeeting.ROLE_JC_MEMBER
      window.initialData.ROLE_NOTE_TAKER = @PersonAtMeeting.ROLE_NOTE_TAKER
      window.initialData.ROLE_JC_SUB = @PersonAtMeeting.ROLE_JC_SUB
      window.initialData.ROLE_RUNNER = @PersonAtMeeting.ROLE_RUNNER
      window.initialData.ROLE_TESTIFIER = @PersonAtCase.ROLE_TESTIFIER
      window.initialData.ROLE_WRITER = @PersonAtCase.ROLE_WRITER

      window.initialData.people = @Html(Application.jcPeople("", Utils.getOrgConfig(request).org))
      window.initialData.rules = @Html(Application.jsonRules(false, Utils.getOrgConfig(request).org))
      window.initialData.cases = @Html(Application.jsonCases("", Utils.getOrgConfig(request).org))

      window.initialData.committee = @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_JC_MEMBER));
      window.initialData.chair = @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_JC_CHAIR));
      window.initialData.notetaker = @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_NOTE_TAKER));
      window.initialData.sub = @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_JC_SUB));
      window.initialData.runners = @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_RUNNER));
      window.initialData.config = @Html(Utils.toJson(Utils.getOrgConfig(request)));

      window.initialData.meetingCases = @Html(Utils.toJson(meeting.getCases()));
      window.initialData.openCases = @Html(Utils.toJson(open_cases));
      window.initialData.meetingDate = "@Application.formatMeetingDate(meeting.getDate())";
      window.initialData.viewPrintableUrl = "@routes.Application.viewMeeting(meeting.getId())";

      @defining({
        val m = new java.util.LinkedHashMap[String, String]()
        m.put("committeeMembers", messages("committee_members"))
        m.put("chargeAgainst", messages("charge_against"))
        m.put("removeCharge", messages("remove_charge"))
        m.put("noDeleteReferencedCharge", messages("no_delete_referenced_charge"))
        m.put("caseTitle", messages("case_title"))
        m.put("eraseCase", messages("erase_case"))
        m.put("eraseCaseConfirmation", messages("erase_case_confirmation"))
        m.put("whoWroteComplaint", messages("who_wrote_complaint"))
        m.put("whoTestified", messages("who_testified"))
        m.put("referencedCases", messages("referenced_cases"))
        m.put("addCharges", messages("add_charges"))
        m.put("casesToBeContinued", messages("cases_to_be_continued"))
        m.put("chooseCaseToContinue", messages("choose_case_to_continue"))
        m.put("addNewCase", messages("add_new_case"))
        play.libs.Json.stringify(play.libs.Json.toJson(m))
      }) { messagesJson =>
        window.initialData.messages = @Html(messagesJson);
      }
    </script>
  @views.html.tags.react_bundle_loader()
}
