@(form: Form[Entry], section : Section, is_new : Boolean, chapters : List[Chapter])

@main("Edit an entry", menu = "jc") {

@if( is_new ) {
    <h2>New entry</h2>
} else {
    <h2>Edit entry "@form("title").value()"</h2>
}

@helper.form(routes.ApplicationEditing.saveEntry(), 'class -> "form-horizontal") {


@if(form("id").value()) {
	<input type="hidden" name="id" value="@form("id").value()"/>
}
	@helper.inputText(form("title"), '_label -> "Title", 'size -> 75)
<dl class=" " id="num_field">
    <dt><label for="num">Number</label></dt>
    <dd>
    @{section.getNumber()}.<input type="text" id="num" name="num" value="@form("num").value()" size="10">
</dd>
</dl>
	@helper.checkbox(form("deleted"), '_label -> "Check this to delete -- careful, can only be undone by Evan")
	@helper.select(form("section.id"), options = chapters.flatMap (c => c.sections.map(s => ("" + s.id, s.chapter.num + "" + s.num + " " + s.title))),
		'_label -> "Section", 'class -> "form-control")

	<div class="markdown-guidelines">
		<h4>Formatting help</h4>
		<p>_alpha_ or *alpha* --> <em>alpha</em>
		<p>__beta__ or **beta** --> <strong>beta</strong>
		<p>Make bullet lists with asterisks, like this:
		<pre>* an item
* another item
* final item</pre>
		<p>Make numbered lists with numbers, like this (the 1s will be replaced with the correct numbers):
		<pre>1. the first
1. the second
1. the third</pre>
	</div>

	<div class="entry-content-edit">
	@helper.textarea(form("content"), '_label -> "Content", 'rows->12, 'class -> "form-control")
	</div>

	<input type="submit" value="Save">
}
}
