@(meeting : Meeting)

@import helper._

@main("Edit meeting minutes for date " + meeting.date) {

<script src="@routes.Assets.at("javascripts/edit_minutes.js")" type="text/javascript"></script>


<div id="meeting">
<h3> Justice Committee Minutes for @meeting.date </h3>
<b>Committee:</b> Lydia, Evan, Scout, Izaya, <input type="textfield">
<br><b>Chair: </b> <input type="textfield">
<br><b>Notetaker: </b> <input type="textfield">

</div>

<script id="person-template" type="x-handlebars-template">
    <div class="person">{{name}}</div>
</script>


<script id="people-chooser" type="x-handlebars-template">
	<div class="people_chooser">
    	<input class="person_search" type="textfield">
    </div>
</script>

<script id="case-template" type="x-handlebars-template">
<div class="case">
<p><b>Case #{{num}}</b>
<p><b>Location:</b> <input type="textfield">

<p><b>Who wrote complaint:</b>
<div class="writer people_chooser">
    	<input class="person_search" type="textfield">
    </div>

<p><b>Who testified: </b>
	<div class="testifier people_chooser">
    	<input class="person_search" type="textfield">
    </div>

<p><b>Findings:</b> <textarea class="findings"></textarea>
</div>
</script>

<p><button onclick="javascript:addCase()">Add a case</button>


}
