@(monday : Date,
  codes : Map[String, AttendanceCode],
  people : List[Person],
  additional_people : List[Person],
  days : Map[Person, List[AttendanceDay]],
  weeks : Map[Person, AttendanceWeek])

@import helper._

@main("Edit attendance for week of " + Application.yymmddDate(monday), "attendance") {

<script type="text/javascript">
app = {};
app.person_rows = [];

app.codes = @Html(Utils.toJson(codes));
app.monday = "@Application.yymmddDate(monday)";

app.initial_data = {
	active_people: @Html(Utils.toJson(people)),
	additional_people: @Html(Utils.toJson(additional_people)),
	days: {},
	weeks: {},
}

@for( day_list <- days.values() ) {
	app.initial_data.days[@day_list.get(0).person.person_id] = @Html(Utils.toJson(day_list));
}

@for( week <- weeks.values() ) {
	app.initial_data.weeks[@week.person.person_id] = @Html(Utils.toJson(week));
}

config = @Html(Utils.toJson(OrgConfig.get()));
$(function() {
    initAttendanceWeek();
});
</script>

<h3>Editing week of @Application.yymmddDate(monday)</h3>
<form method="POST" action="@routes.Attendance.importFromCustodia()">
<p><a class="btn btn-success" href="@routes.Attendance.viewWeek()?date=@Application.yymmddDate(monday)">Done editing; return to viewing</a>
@if( OrgConfig.get().org.show_custodia ) {
        <input type="hidden" name="monday" value="@Application.yymmddDate(monday)">
        <button class="btn btn-primary">Import from Custodia</button>
}
</p>
</form>
<table id="attendance-editing" class="table attendance-view sortable">
<thead><tr>
    <th>First<br/>Name</th>
    <th>Last<br/>Name</th>
    <th colspan=2><button class="no-school">No school this day</button><br/>Monday</th>
    <th colspan=2><button class="no-school">No school this day</button><br/>Tuesday</th>
    <th colspan=2><button class="no-school">No school this day</button><br/>Wednesday</th>
    <th colspan=2><button class="no-school">No school this day</button><br/>Thursday</th>
    <th colspan=2><button class="no-school">No school this day</button><br/>Friday</th>
    <th>Extra hours</th>
</tr>
</thead>
<tbody></tbody>
</table>

<div>If you want to enter attendance records for any of the following people, click on a
	name below, or <button class="add-all">Add them all</button>.
	<ul id="additional-people"></ul></div>

<div style="display:none" id="dialog-confirm" title="Are you sure?">
  <p>Selecting "No School" will erase all previously-entered data for this day.
		  Is this OK?</p>
</div>

<script id="person-row-template" type="text/x-handlebars-template">
<tr>
	<td>{{first_name}}<img class="x" title="click to remove this person" src="/assets/images/x.png"/></td>
	<td>{{last_name}}</td>
    <td><input type="text" class="attendance-time-cell"></td>
    <td><input type="text" class="attendance-time-cell"><div class="color-bar">&nbsp;</div></td>
    <td><input type="text" class="attendance-time-cell"></td>
    <td><input type="text" class="attendance-time-cell"><div class="color-bar">&nbsp;</div></td>
    <td><input type="text" class="attendance-time-cell"></td>
    <td><input type="text" class="attendance-time-cell"><div class="color-bar">&nbsp;</div></td>
    <td><input type="text" class="attendance-time-cell"></td>
    <td><input type="text" class="attendance-time-cell"><div class="color-bar">&nbsp;</div></td>
    <td><input type="text" class="attendance-time-cell"></td>
    <td><input type="text" class="attendance-time-cell"><div class="color-bar">&nbsp;</div></td>
    <td><input type="text" class="attendance-time-cell"></td>
</tr>
</script>

<script id="additional-person-template" type="text/x-handlebars-template">
<li><a>{{name}}</a></li>
</script>

}
