@(meeting : Meeting)

@import helper._

@main("Edit meeting minutes for date " + meeting.date) {

<script src="@routes.Assets.at("javascripts/edit_minutes.js")" type="text/javascript"></script>

<script type="text/javascript">
app = {}
app.cases = []
app.meeting_id = @meeting.id
app.ROLE_JC_CHAIR = @PersonAtMeeting.ROLE_JC_CHAIR
app.ROLE_JC_MEMBER = @PersonAtMeeting.ROLE_JC_MEMBER
app.ROLE_NOTE_TAKER = @PersonAtMeeting.ROLE_NOTE_TAKER

app.initial_data = {
	committee : @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_JC_MEMBER)),
	chair : @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_JC_CHAIR)),
	notetaker : @Html(meeting.getJsonPeople(PersonAtMeeting.ROLE_NOTE_TAKER)),
	cases: [],
}

@for( c <- meeting.cases ) {
	app.initial_data.cases.push( @Html(c.toJson()) );
}
</script>

<div id="meeting">
<h2>Justice Committee minutes<br>@Application.formatMeetingDate(meeting.date)</h2>
Committee:
	<div class="committee people_chooser">
    	<input class="form-control person_search" type="text">
    </div>
<br>Chair:
	<div class="chair people_chooser">
    	<input class="form-control person_search" type="text">
    </div>
<br>Notetaker:
	<div class="notetaker people_chooser">
    	<input class="form-control person_search" type="text">
    </div>

<div id="meeting-cases">
</div>

</div>

<script id="person-template" type="x-handlebars-template">
    <span class="label label-primary">{{name}}</label>
</script>


<script id="people-chooser" type="x-handlebars-template">
	<div class="people_chooser">
    	<input class="form-control person_search" type="text">
    </div>
</script>

<script id="testimony-template" type="x-handlebars-template">
	<div>Name:{{> people-chooser}}
        Testimony:<textarea class="form-control"></textarea></div>
</script>

<script id="case-template" type="x-handlebars-template">
<div class="case">
<h4>Case #{{num}}</h4>

Who wrote complaint:
<div class="writer people_chooser">
    	<input class="person_search" type="text">
    </div>

<p>Location: <input class="form-control location" type="text">
<p>Date of event: <input class="date" type="date">

<div>Who testified:
    <div class="testifier people_chooser">
    	<input class="person_search" type="text">
    </div>
</div>

<p>Findings: <textarea class="findings"></textarea>
</div>
</script>

<p><button onclick="javascript:addCase()">Add a case</button>


}
