@(form: Form[Chapter], is_new : Boolean)(implicit request: play.mvc.Http.Request)



@main("Edit a chapter", "manual") {

@if( is_new ) {
    <h2>New chapter</h2>
} else {
    <h2>Edit chapter "@form("title").value().get()"</h2>
}

@helper.form(routes.ApplicationEditing.saveChapter(), 'class -> "form-horizontal") {


@if(form("id").value().isPresent()) {
	<input type="hidden" name="id" value="@form("id").value().get()"/>
}
        @helper.inputText(form("num"), '_label -> "Number")
        @helper.inputText(form("title"), '_label -> "Title", 'class-> "form-control")
		@helper.checkbox(form("deleted"), '_label -> "Check this to delete")
        @save_button("Save")
}
}