@(u : User, userForm : Form[User])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)
@import helper._



@main("Edit user " + u.name, "settings") {

<h3>Edit user</h3>

@form(routes.Settings.saveUser(), Symbol("class") -> "form-horizontal", Symbol("role") -> "form") {

	<input type="hidden" name="id" value="@u.id"/>
	@inputText(userForm("name"), Symbol("_label") -> "Name", Symbol("class") -> "form-control")
	@inputText(userForm("email"), Symbol("_label") -> "Email", Symbol("class") -> "form-control")
	@checkbox(userForm("active"), Symbol("_label") -> "Active")
<hr/>
	@for( role <- UserRole.ALL_ROLES ) {
		@simpleCheckbox(role,
			UserRole.getDescription(Utils.getOrgConfig(request), role),
			u.hasRole(role))
	}
<input type="submit" value="Save"/>
}

}