@(p : Person, family_members: List[Person], comments: List[Comment],
  comment_email : String, donations: List[Donation])

@import helper._

@main(p.first_name + " " + p.last_name, "crm") {

@defining(if(family_members.size() >= 2){ "col-xs-6 col-md-3" } else {"col-xs-6 col-md-6"}) { size =>
<div class="row">
	<div class="@size">
	@person(p)
	</div>

	@for( family_member <- family_members ) {
		<div class="@size">@person(family_member)</div>
	}
</div>
}

<hr>

@form(routes.CRM.addComment(), args = 'id -> "comment_form") {
<div class="row">
@for( tag <- p.tags ) {
	@for( task_list <- tag.task_lists ) {
		<div class="col-xs-4">
		<h4><a href="@routes.CRM.viewTaskList(task_list.id)">@task_list.title</a></h4>
		@for( task <- task_list.tasks ) {
			@if( task.enabled ) {
			@defining( p.completedTask(task) ) { ct =>
				@if( ct != null ) {
					<input type="checkbox" class="task_checkbox" id="task_checkbox_@task.id" disabled checked/>
				} else {
					<input type="checkbox" class="task_checkbox" id="task_checkbox_@task.id"/>
				}
				<label for="task_checkbox_@task.id" style="display:inline">@task.title</label>
				@if( ct != null ) {
					<i>(@ct.comment.user.name, @CRM.formatDate(ct.comment.created))</i>
					@if(ct.comment.message.length() > 0) {
						-- @ct.comment.message
					}
				}
				<br>
			}
			}
		}
		</div>
	}
}
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Comments (@comments.size())</a></li>
    <li><a href="#tab2" data-toggle="tab">Donations (@donations.size())</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		<div class="row">
		<div class="col-md-9">
		<p id="add_comment_p"><a href="javascript:void(0)" onclick="javascript:$('#new_comment').show();$('#add_comment_p').hide();">Add a comment</a>
		<div id="new_comment" style="display: none;">
			<div style="float:left">I talked with
			<input type=hidden name="person" value="@p.person_id" />@p.first_name @p.last_name
			about:<br>
			<textarea name="message" style="width: 400px;" rows=5 ></textarea>
			<div id="comment_tasks" style="float:right;"></div>
			<textarea style="display:none" name="comment_task_ids" id="comment_task_ids"></textarea>
			<br>

			<input type="submit" value="Save Comment">
			<label style="display:inline; padding-left: 25px"><input type="checkbox" name="send_email">Email note to @comment_email</label>
			</div>
			<script type="text/javascript">
                requirejs(['utils'], function() {
                    $("#comment_form").ajaxForm({"complete" : function(response, status) {
                                                     $("#comments").prepend(response.responseText);
                                                     $("#new_comment textarea").val("");
                                                     $("#new_comment").hide();
                                                     $("#add_comment_p").show();
                                                     }});
                    $("#donation_form").ajaxForm({"complete" : function(response, status) {
                                                     $("#donations").prepend("<tr>" + response.responseText + "</tr>");
                                                     $("#new_donation textarea").val("");
                                                     $("#new_donation").hide();
                                                     $('#add_donation_p').show()
                                                     }});
                });
			</script>
		}
		</div>
		</div>
		</div>

		<div class="row">
		<div class="col-md-9" id="comments">
		@for( c <- comments ) {
			@if( c.completed_tasks.size() == 0 ||
				c.message.length() > 80) {
				@comment_fragment(c, false)
			}
		}
		</div>
		</div>
		</div>
    <div class="tab-pane" id="tab2">
		@form(routes.CRM.addDonation(), args = 'id -> "donation_form") {
		<p id="add_donation_p"><a href="javascript:void(0)" onclick="javascript:$('#new_donation').show();$('#add_donation_p').hide()">Add a donation</a>
		<div id="new_donation" style="display: none;">
			<input type=hidden name="person" value="@p.person_id" />
			Description: <textarea name="description" style="width: 400px;" rows=5 ></textarea>
			<br><label><input type="radio" name="donation_type" value="Cash" checked> Cash</label> <i>or</i>
				<label><input type="radio" name="donation_type" value="Non_cash"> Materials/Time</label>
			<br>Cash value: <input type="textbox" name="dollar_value">
			<br>Date (leave blank if today is the day): <input type="date" name="date">
			<br><label><input type="checkbox" name="needs_thank_you" checked> Needs thank you</label>
			<br><label><input type="checkbox" name="needs_indiegogo_reward"> Needs Indiegogo reward</label>
			<br><input type="submit" value="Save">
			</div>
		}

	<table class="table" width="600px" id="donations">
      @for(d <- donations) {
		  <tr>
		  @donation_fragment(d)
	  }
	  </table>
		</div>
    </div>
  </div>
</div>


	</div>

}

