@(p : Person, family_members: List[Person], comments: List[Comment])

@import helper._

@main(p.first_name + " " + p.last_name) {

<table cellspacing=20>
<tr><td valign="top">
	@person(p)

	@for( family_member <- family_members ) {
		<td valign="top">@person(family_member)
	}
</tr></table>



<p><a href="javascript: $('#new_comment').show()">Add a comment</a>
<div id="new_comment" style="display: none;">
@form(routes.Application.addComment(), args = 'id -> "comment_form") {
	<p>I talked with
	<select name="person">
		<option value="@p.person_id">
			@p.first_name @p.last_name
		</option>
	   @for(family_member <- family_members) {
		<option value="@family_member.person_id">
			@family_member.first_name @family_member.last_name
		</option>
			}
	</select>
	about:<br>
	<textarea name="message" rows=10 cols=50></textarea>
	<input type="submit" value="Save Comment">
	<script type="text/javascript">
        $("#comment_form").ajaxForm({"complete" : function(response, status) {
										 $("#comments").prepend(response.responseText);
                                         }});
    </script>
}
</div>

<div id="comments">
@for( c <- comments ) { @comment(c) }
</div>



}

