@(p : Person, family_members: List[Person], comments: List[Comment])

@import helper._

@main(p.first_name + " " + p.last_name) {

@defining(if(family_members.size() >= 2){ "span3" } else {"span6"}) { size =>
<div class="row">
	<div class="@size">
	@person(p)
	</div>

	@for( family_member <- family_members ) {
		<div class="@size">@person(family_member)</div>
	}
</div>
}

<hr>
<div class="row">
<div class="span9">

<p><a href="javascript: $('#new_comment').show()">Add a comment</a>
<div id="new_comment" style="display: none;">
@form(routes.Application.addComment(), args = 'id -> "comment_form") {
	<p>I talked with
	<select name="person">
		<option value="@p.person_id">
			@p.first_name @p.last_name
		</option>
	   @for(family_member <- family_members) {
		<option value="@family_member.person_id">
			@family_member.first_name @family_member.last_name
		</option>
			}
	</select>
	about:<br>
	<textarea name="message" style="width: 400px;" rows=5 ></textarea>
	<br><input type="submit" value="Save Comment">
	<script type="text/javascript">
        $("#comment_form").ajaxForm({"complete" : function(response, status) {
										 $("#comments").prepend(response.responseText);
										 $("#new_comment textarea").val("");
										 $("#new_comment").hide();
                                         }});
    </script>
}
</div>

<div id="comments">
@for( c <- comments ) { @comment(c) }
</div>

</div>
	</div>

}

