@(c : Charge, show_chargee : Boolean, show_rule : Boolean, redact_findings: Boolean)

<p>

<a nosidebar href="@routes.Application.viewMeeting(c.the_case.meeting.id)">
<b>@c.the_case.case_number</a>@if( show_chargee && c.person != null ){,
<a nosidebar href="@routes.Application.viewPersonHistory(c.person.person_id)">
@c.person.getDisplayName()}</a>@if( show_rule && c.rule != null ){,
<a nosidebar href="@routes.Application.viewRuleHistory(c.rule.id)">@c.rule.getNumber() @c.rule.title</a>}</b>.

@if( c.severity != "" ){
	(@c.severity)
}

<i>@OrgConfig.get().str_findings</i>: @if( redact_findings ) { @c.the_case.getRedactedFindings(c.person) } else { @c.the_case.findings }

@if( !c.plea.equals("Guilty") ) {
	Plead <b>@c.plea</b>.
}

<u>@OrgConfig.get().str_res_plan_short: @c.rp_text</u>

@if( c.sm_decision != null) {
	<span class="sm-decision"><i>School Meeting ruled@if(
		c.sm_decision_date != null) { on @Application.yymmddDate(c.sm_decision_date)}</i>:
		@c.sm_decision</span>
}

