@(c : Charge, show_chargee : Boolean, show_rule : Boolean, redact_findings: Boolean)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

<p>

<a nosidebar href="@routes.Application.viewMeeting(c.getTheCase().getMeeting().id)">
<b>@c.getTheCase().getCaseNumber()</a>@if( show_chargee && c.getPerson() != null ){,
<a nosidebar href="@routes.Application.viewPersonHistory(c.getPerson().getPersonId())">
@c.getPerson().getDisplayName()}</a>@if( show_rule && c.getRule() != null ){,
<a nosidebar href="@routes.Application.viewRuleHistory(c.getRule().id)">@c.getRule().getNumber() @c.getRule().getTitle()</a>}</b>.

@if( c.getSeverity() != "" ){
	(@c.getSeverity())
}

<i>@Utils.getOrgConfig(request).str_findings</i>:
@if( redact_findings ) { @Application.getRedactedFindings(c.getTheCase(), c.getPerson()) } else {
	@Application.generateCompositeFindingsFromChargeReferences(c.getTheCase()) }

@if( !c.getPlea().equals("Guilty") ) {
	Plead <b>@Utils.getOrgConfig(request).translatePlea(c.getPlea())</b>.
}

<u>@Utils.getOrgConfig(request).str_res_plan_short: @c.getResolutionPlan()</u>

@if( c.getSmDecision() != null) {
	<span class="sm-decision"><i>School Meeting ruled@if(
		c.getSmDecisionDate() != null) { on @Application.yymmddDate(Utils.getOrgConfig(request), c.getSmDecisionDate())}</i>:
		@c.getSmDecision()</span>
}
