@(people: List[Person], personForm: Form[Person])

@import helper._

@main("Todo list") {

    <h1>@people.size() person(s)</h1>

    <ul>
        @for(person <- people) {
            <li>
                @person.first_name @person.last_name

                @form(routes.Application.deletePerson(person.person_id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>

    <h2>Add a new person</h2>

    @form(routes.Application.newPerson()) {

        @inputText(personForm("first_name"))
        @inputText(personForm("last_name"))

        <input type="submit" value="Create">

    }

}
