@(tag: Tag, people: List[Person], people_with_family: Collection[Person])

@import helper._

@main("All people tagged " + tag.title) {
<h1>@tag.title</h1>
<p>@people.size() people</p>
@if( tag.task_list != null ) {
   <p>Also see task list: <a href="@routes.Application.viewTaskList(tag.task_list.id)">@tag.task_list.title</a></p>
}

<table class="table sortable">
<tr><th>Student<th>School District<th>DOB<th>Age at start of school year<th>Grade<th>Gender<th># of siblings<th>Address<th>Phone number

@for( p <- people ) {
	<tr>
	<td><a href="@routes.Application.person(p.person_id)">@p.first_name @p.last_name</a>
	<td>@p.school_district
	<td>@Application.formatDob(p.dob)
	<td>@Application.calcAgeAtBeginningOfSchool(p)
	<td>@p.grade
	<td>@p.gender
	<td>@p.numSiblings()
	<td>@Html(p.familyAddresses().mkString("<br/>"))
	<td>@Html(p.familyPhoneNumbers.mkString("<br/>"))
	</tr>
}

</table>

@tag_extras(people, people_with_family)

}

