@(meetings : List [ Meeting ], people : List[ Person ],
rules : List[ Entry ])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

<script type="text/javascript">
$(function() {
    var meeting_info = [ @Html(
        meetings.map( m => "{ date: \"" + Application.yymmddDate(Utils.getOrgConfig(request), (m.getDate())) +
                "\", link: \"" + routes.Application.viewMeeting(m.getId()) +
                "\", case_count: " + m.getCases().size() + "}").mkString(",")) ];

    function hasMeeting(date)
    {
        var str_date = date.toISOString().slice(0,10);
        for (i in meeting_info) {
            if (meeting_info[i].date == str_date) {
                return [true, "", "" + meeting_info[i].case_count + " cases"];
            }
        }

        return [false, "", ""];
    }

    function meetingSelected(str_date, datepicker) {
        for (i in meeting_info) {
            if (meeting_info[i].date == str_date) {
                location.href = meeting_info[i].link;
            }
        }
    }

    $("#month-picker").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        constrainInput: true,
        beforeShowDay: hasMeeting,
        onSelect: meetingSelected
    });
});
</script>

<p>

<div class="row">
<div class="col-sm-4">
<h4>Minutes</h4>
<div id="month-picker" style="padding-top: 25px"></div>
</div>

<div class="col-sm-4">
<h4>People</h4>
<div class="scroll-table">
<table class="table table-hover table-condensed">
<thead><th height=50 width=@if(Utils.getOrgConfig(request).track_writer){200}else{250}>Person
	@if(Utils.getOrgConfig(request).track_writer){<th align=right width=50>Complaint count}
		<th align=right width=50>Charge count</thead>
@for( p <- people ) {
	<tr><td width=@if(Utils.getOrgConfig(request).track_writer){200}else{250}>
		<a href="@routes.Application.viewPersonHistory(p.getPersonId())">
		@p.getDisplayName()
	@if(Utils.getOrgConfig(request).track_writer){
		<td align=right width=50><a class="cases-written-link" href="@routes.Application.viewPersonsWriteups(p.getPersonId())">@p.getThisYearCasesWrittenUp().size()</a>
	}
	<td align=right width=50><a @if(Utils.getOrgConfig(request).track_writer){class="charges-link"}
		 href="@routes.Application.viewPersonHistory(p.getPersonId())">@p.getThisYearCharges().size()</a>
}
</table>
</div>
</div>

<div class="col-sm-4">
<h4>Rules</h4>
<div class="scroll-table">
<table class="table table-hover table-condensed">
<thead><th height=50 width=250>Entry<th align=right width=50>Charge count</thead>
@for( r <- rules ) {
	<tr><td width=250><a href="@routes.Application.viewRuleHistory(r.getId())">@r.getNumber() @r.getTitle()</a>
	<td align=right width=50>@r.getThisYearCharges().size()
}
</table>
</div>
</div>

</div>
