@(meetings : List [ Meeting ], sm_charges : List [ Charge ], people : List[ Person ],
rules : List[ Entry ])

@import helper._

<script type="text/javascript">
requirejs(["utils"], function(utils) {
    var meeting_info = [ @Html(
    	meetings.map( m => "{ date: \"" + Application.yymmddDate(m.date) +
    			"\", link: \"" + routes.Application.viewMeeting(m.id) +
    			"\", case_count: " + m.cases.size() + "}").mkString(",")) ];

    function hasMeeting(date)
    {
    	var str_date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
    	for (i in meeting_info) {
    		if (meeting_info[i].date == str_date) {
    			return [true, "", "" + meeting_info[i].case_count + " cases"];
    		}
    	}

    	return [false, "", ""];
    }

    function meetingSelected(str_date, datepicker) {
    	for (i in meeting_info) {
    		if (meeting_info[i].date == str_date) {
    			location.href = meeting_info[i].link;
    		}
    	}
    }

   	$("#month-picker").datepicker({
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy-m-d',
		constrainInput: true,
		beforeShowDay: hasMeeting,
		onSelect: meetingSelected
	});
});
</script>

@if( sm_charges.size() > 0 ) {
	<h4>Charges referred to School Meeting</h4>
	<table class="table">
		<thead><th width="100">Case
			<th width="20">Person
			<th width="150">Entry
			<th width="70">Plea
			<th>@OrgConfig.get().str_res_plan_cap<th>@OrgConfig.get().str_findings</thead>
	@for( c <- sm_charges ) {
		<tr><td>@c.the_case.case_number
			<td>@if(c.person != null) { @c.person.getDisplayName() } else { <i>No one</i> }
			<td>@c.getRuleTitle()
			<td>@c.plea
			<td>@c.resolution_plan
			<td>@c.the_case.findings
	}
	</table>

@if( Application.isCurrentUserEditor() ) {
	<a class="btn btn-primary" href="@routes.ApplicationEditing.enterSchoolMeetingDecisions">
	Record School Meeting decisions</a>
}
}

<p>

<div class="row">
<div class="col-sm-4">
<h4>Minutes</h4>
<div id="month-picker" style="padding-top: 25px"></div>
</div>

<div class="col-sm-4">
<h4>People</h4>
<div class="scroll-table">
<table class="table table-hover table-condensed">
<thead><th height=50 width=@if(OrgConfig.get().track_writer){200}else{250}>Person
	@if(OrgConfig.get().track_writer){<th align=right width=50>Complaint count}
		<th align=right width=50>Charge count</thead>
@for( p <- people ) {
	<tr><td width=@if(OrgConfig.get().track_writer){200}else{250}>
		@if(!OrgConfig.get().track_writer){
			<a href="@routes.Application.viewPersonHistory(p.person_id)">}
		@p.getDisplayName()
		@if(!OrgConfig.get().track_writer){</a>}
	@if(OrgConfig.get().track_writer){
		<td align=right width=50><a class="cases-written-link" href="@routes.Application.viewPersonsWriteups(p.person_id)">@p.getThisYearCasesWrittenUp().size()</a>
	}
	<td align=right width=50><a @if(OrgConfig.get().track_writer){class="charges-link"}
		 href="@routes.Application.viewPersonHistory(p.person_id)">@p.getThisYearCharges().size()</a>
}
</table>
</div>
</div>

<div class="col-sm-4">
<h4>Rules</h4>
<div class="scroll-table">
<table class="table table-hover table-condensed">
<thead><th height=50 width=250>Entry<th align=right width=50>Charge count</thead>
@for( r <- rules ) {
	<tr><td width=250><a href="@routes.Application.viewRuleHistory(r.id)">@r.getNumber() @r.title</a>
	<td align=right width=50>@r.getThisYearCharges().size()
}
</table>
</div>
</div>

</div>

<p><a href="@routes.Application.downloadCharges()">Download this year's charges</a></p>
