@(orgConfig: OrgConfig, start_date : Date, end_date: Date, data : WeeklyStats, cases: List[ Case ],
minor_referral_destinations : List[ String ])

@import helper._

@main(orgConfig, "Weekly report starting on " + Application.formatDateShort(orgConfig, start_date), "jc", "weekly_report") {

<h3> Weekly report </h3>
<p><a href="@routes.Application.viewWeeklyReport(Application.forDateInput(Application.addWeek(end_date, -1)))">&lt;&lt; Prev week</a>
&nbsp;&nbsp;&nbsp;&nbsp;
Period from
@Application.formatDayOfWeek(start_date) @Application.formatDateShort(orgConfig, start_date) to
@Application.formatDayOfWeek(end_date) @Application.formatDateShort(orgConfig, end_date), inclusive.
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="@routes.Application.viewWeeklyReport(Application.forDateInput(Application.addWeek(end_date, 1)))">Next week &gt;&gt;</a>
<p>
<p>
<p>@data.num_cases total cases.
<p>@data.num_charges total charges.
<p><a href="@routes.Application.printWeeklyMinutes(Application.forDateInput(start_date))">Print the week's minutes</a></p>

<div class="row">
	<div class="col-sm-4">
        <h4>Charges per rule</h4>
		<table class="table sortable">
			<tr><th>Rule<th width=100># Charges</tr>
			@for( (rule, count) <- data.rule_counts ) {
				<tr><td>@rule.getNumber() @rule.title<td>@count</tr>
			}
		</table>
	</div>
	<div class="col-sm-4">
        <h4>Charges per person</h4>
		<table class="table sortable">
		<tr><th>Person
			<th>Week<th>Month<th>Year
				</tr>
			@for( (person, counts) <- data.person_counts ) {
				@if( counts.this_period > 0 ) {
				<tr><td>@person.getDisplayName()
					<td>@counts.this_period
					<td>@counts.last_28_days
					<td>@counts.all_time
						</tr>
				}
			}
		</table>
	</div>
	<div class="col-sm-4">
		<h4>People with no charges this week</h4>
		<ol>
		@for( p <- data.uncharged_people) {
			<li>@p.getDisplayName()
		}
		</ol>
	</div>
</div>

<h4>&nbsp;<br>Cases with no charges</h4>
@caseTableOpen(orgConfig)
@for(c <- cases) {
	@if( !c.empty() && c.charges.size() == 0 ) {
		@caseTableRow(orgConfig, c, true)
	}
}
</table>

@if( orgConfig.use_minor_referrals ) {
  @for( dest <- minor_referral_destinations ) {
	<h4>&nbsp;<br>Charges referred to @dest</h4>
	@for(c <- cases) {
	  @for(ch <- c.charges) {
		@if( ch.minor_referral_destination.equals(dest) ) {
		  @historyCharge(orgConfig, ch, true, true, false)
		}
	  }
	}
  }
}

}