@(title: String)(content: Html)

@import com.feth.play.module.pa.views.html._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/sorttable.js")" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"></link>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
		<script src="http://malsup.github.io/jquery.form.js"></script>
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">


		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
		@currentAuth() { auth =>
			@if(auth != null) {
				<ul class="nav nav-tabs">
				<li><a href="@routes.Application.index">Home</a>
				<li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
				</ul>
			}
		}

		@content
    </body>
</html>
