@(title: String)(content: Html)

@import com.feth.play.module.pa.views.html._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"></link>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
		<script src="http://malsup.github.com/jquery.form.js"></script>
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">


		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
		@currentAuth() { auth =>
			@if(auth != null) {
				<ul class="nav nav-tabs">
					<li><a href="@routes.Application.people()">All people</a>
					<li><a href="@routes.Application.newPerson()">Add a person</a>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  Tags
						  <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								@for( kv <- Tag.getWithPrefixes() ) {
									@if( kv._2.size() > 1 ) {
                                        <li class="dropdown-submenu">
										<a tabindex="-1" href="#">@kv._1</a>
										<ul class="dropdown-menu">
										@for( t <- kv._2 ) {
											<li><a href="@routes.Application.viewTag(t.id)">@t.title</a></li>
										}
										</ul></li>
									} else {
										@* There is only one tag, but the for loop is a nice way to bind
											the variable *@
										@for( t <- kv._2 ) {
											<li><a href="@routes.Application.viewTag(t.id)">@t.title</a></li>
										}
									}
								}
							</ul>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  Checklists
						  <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								@for( l <- TaskList.find.all() ) {
									<li><a href="@routes.Application.viewTaskList(l.id)">@l.title</a></li>
									}
							</ul>
					<li><form class="navbar-search pull-left">
					<input type="text" id="navbar_people_search" placeholder="Search People"/></form></li>

				<li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>

				</ul>

}
		}

		@content
    </body>
</html>
