@(m : Meeting)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

<h3>@Utils.getOrgConfig(request).str_jc_name_short minutes from @Application.formatMeetingDate(m.getDate())</h3>
<p><a href="@routes.Application.printMeeting(m.getId())" class="btn btn-success no-print">
1. Print minutes</a>
<a href="@routes.Application.viewMeetingResolutionPlans(m.getId())"
class="btn btn-success no-print" style="margin-left: 75px">
2. Print @Utils.getOrgConfig(request).str_res_plans</a>
<span class="no-print">or <a href="@routes.Application.downloadMeetingResolutionPlans(m.getId())">
Download @Utils.getOrgConfig(request).str_res_plans</a></span></p>
<p><a href="@routes.ApplicationEditing.editMeeting(m.getId())" class="btn btn-warning no-print">
Edit minutes</a></p>


<p><b>Chair:</b>
@meeting_people(m.getPeopleAtMeeting(), PersonAtMeeting.ROLE_JC_CHAIR)

<b>Notetaker:</b>
@meeting_people(m.getPeopleAtMeeting(), PersonAtMeeting.ROLE_NOTE_TAKER)

<b>@messages("committee_members"):</b>
@meeting_people(m.getPeopleAtMeeting(), PersonAtMeeting.ROLE_JC_MEMBER)

<b>Subs: </b>
@meeting_people(m.getPeopleAtMeeting(), PersonAtMeeting.ROLE_JC_SUB)

<b>Runners: </b>
@meeting_people(m.getPeopleAtMeeting(), PersonAtMeeting.ROLE_RUNNER)
</p>

<h4>&nbsp;<br/>Case Notes</h4>
@caseTableOpen()
@for(c <- m.getCases()) {
	@if( !c.empty() ) {
		@caseTableRow(c, false)
	}
}

@for(c <- m.getAdditionalCases()) {
	<tr>
	<td><h5>#@c.getCaseNumber()	@if( c.getDateClosed() == null ) { (OPEN) }</h5></td>
	<td>Case discussed today, but kept open for further investigation. Latest notes available
		in meeting held on <a href="@routes.Application.viewMeeting(c.getMeeting().getId())">
			@Application.yymmddDate(Utils.getOrgConfig(request), c.getMeeting().getDate())</a></td>
	</tr>

}
</table>
