@(people : List[Person], show_checkboxes: Boolean)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

<table class="table sortable">
<tr>@if( show_checkboxes ) { <th> }
	<th width=150 >Name<th>Email<th width=150>Phone #<th>Notes

@for( p <- people ) {
	<tr>
    @if( show_checkboxes ) {
        <td><input type="checkbox" class="person" name="person-@p.getPersonId()"></td>
    }
    <td><a href="@routes.CRM.person(p.getPersonId())">@p.nonEmptyName()</a>
	<td>@p.getEmail()
	<td>
	        @for(num <- p.phone_numbers) {
				@num.getNumber()
				@if(num.getComment().length() > 0) { (@num.getComment()) }
            }
	<td>@p.getNotes()
	</tr>
}

</table>
