@(person: Person)

@import helper._

<h3><a href="@routes.Application.person(person.person_id)">
@person.first_name @person.last_name</a></h3>
@if( person.email ) {
	<a href="mailto:@person.email">@person.email</a><br>
}
@for( number <- person.phone_numbers ) {
    @number.number
	@if( number.comment ) {
	    (@number.comment)
	}
	<br/>
}
@if( person.address ) {
	@person.address<br>
	@person.city, @person.state @person.zip<br>
} else { @if( person.neighborhood ) {
	'hood: @person.neighborhood<br>
} }

@if(person.dob != null) {
	Born on @person.dob<br>
}
@if( person.notes ) {
	<p><i>@person.notes</i></p>
}
<a href="@routes.Application.editPerson(person.person_id)">Edit</a>

