@(p : Person, history : PersonHistory)

@import helper._

<h3>@p.getDisplayName()'s JC history</h3>

<table class="table sortable">
<thead><tr><th width=50%>Rule<th width=25%>Most Recent Violation<th># of violations</tr></thead>
<tbody>
@for( r <- history.rule_records ) {
	<tr><td width=50%>@if(r.rule != null) { @r.rule.title } else { <i>unknown</i> }
		<td>
		@if( r.most_recent_charge != null ) {
			@Application.formatDateShort(r.most_recent_charge)
		}
		<td align=right>@r.count</tr>
}
</tbody>
</table>

<hr>
@defining( p.getChargesByRule() ) { charges_by_rule =>
	@for( (rule, charges) <- charges_by_rule ) {
		@if( rule != null ) {
			<h4 style="margin-top: 2em;">@rule.title</h4>
		}
		@for( c <- charges) {
			<p><b>@c.the_case.case_number</b>.

			<i>Findings</i>: @c.the_case.findings.

			@if( !c.plea.equals("Guilty") ) {
				Plead <b>@c.plea</b>.
			}

			<i>Resolution plan</i>: @c.resolution_plan.

			@if( c.sm_decision != null) {
				<i>School Meeting ruled</i>: @c.sm_decision
			}
		}
	}
}
