@(personForm: Form[Person], destination : play.api.mvc.Call, submit_title : String)

@import helper._

@implicitField = @{ FieldConstructor(myConstructor.f) }

<div class="row">
@form(destination, 'class -> "form-horizontal", 'role -> "form") {

<div class="col-sm-6">

@if(personForm("person_id").value().isPresent()) {
	<input type="hidden" name="person_id" value="@personForm("person_id").value().get()"/>
    <input type="hidden" name="is_family" value="@personForm("is_family").value().get()"/>
} else {
    <input type="hidden" name="is_family" value="false"/>
}

@if( Utils.getBooleanFromFormValue(personForm("is_family")) ) {
    <h3>Editing family</h3>
    @inputText(personForm("first_name"), '_label -> "Family Name", 'class -> "form-control")
} else {
        @inputText(personForm("first_name"), '_label -> "First Name", 'class -> "form-control")
        @inputText(personForm("last_name"), '_label -> "Last Name", 'class -> "form-control")
		@select(personForm("gender"), options = options(Seq("Unknown", "Female", "Male", "Other")), '_label -> "Gender", 'class -> "form-control")
		@inputText(personForm("email"), '_label -> "Email", 'class -> "form-control")
		@textarea(personForm("notes"), '_label -> "Notes", 'rows->6, 'class -> "form-control")
		<hr/>

		@defining(personForm("address").value().isPresent() ||
			personForm("city").value().isPresent() ||
			personForm("state").value().isPresent() ||
			personForm("zip").value().isPresent()) { has_address =>
			@if( !has_address ) {
				<a id="address_controller" href="#" onclick="$('#address_stuff').show();$('#address_controller').hide();return false;">
					  Add address
				</a>
				<div id="address_stuff" style="display:none">
			}
		@inputText(personForm("address"), '_label -> "Address", 'class -> "form-control")
		@inputText(personForm("city"), '_label -> "City", 'class -> "form-control")
		@inputText(personForm("state"), '_label -> "State", 'class -> "form-control")
		@inputText(personForm("zip"), '_label -> "Zip", 'class -> "form-control")
			@if( !has_address ) {
				</div>
			}
		}

		@inputText(personForm("neighborhood"), '_label -> "Neighborhood", 'class -> "form-control")
		<hr/>

		@defining(personForm("number_2").value().isPresent() ||
			personForm("number_3").value().isPresent()) { has_phones =>
		@for( i <- 1 to 3 ) {
			@if( i == 2 && !has_phones ) {
				<a id="phone_controller" href="#" onclick="$('#phone_stuff').show();$('#phone_controller').hide();return false;">
					  Add phone(s)
				</a>
				<div id="phone_stuff" style="display:none">
			}
		    @inputText(personForm("number_" + i), '_label -> ("Phone " + i), 'class -> "form-control")
		    @inputText(personForm("number_" + i + "_comment"), '_label -> ("Phone " + i + " comment"), 'class -> "form-control")
		}
		@if( !has_phones ) {
			</div>
		}
		}

		<hr/>
		@inputText(personForm("same_family_name"), '_label -> "Same family as: ", 'class -> "form-control")
		<input type="hidden" id = "same_family_id" name="same_family_id"/>
}
        <input type="submit" value="@submit_title">

</div>
@if( ! Utils.getBooleanFromFormValue(personForm("is_family")) ) {
<div class="col-sm-6">

<p><h4>Student Info</h4>
		@inputText(personForm("display_name"), '_label -> "Short Name", 'class -> "form-control")
		<hr/>
		@inputText(personForm("previous_school"), '_label -> "Previous School", 'class -> "form-control")
		@inputText(personForm("school_district"), '_label -> "School District", 'class -> "form-control")
		<hr/>
		@inputText(personForm("grade"), '_label -> "Current Grade", 'class -> "form-control")
		@inputDate(personForm("dob"), '_label -> "Date of Birth", 'class -> "form-control")

		@if(OrgConfig.get().org.show_electronic_signin) {
			@inputText(personForm("pin"), '_label -> "Attendance PIN", 'class -> "form-control")
		}


</div>
}
}
</div>
