@(person: Person)

@import helper._

<div class="person">
@if(person.gender.equals("Male")) {
	<div class="male">M</div>
}
@if(person.gender.equals("Female")) {
	<div class="female">F</div>
}
@if(person.gender.equals("Other")) {
	<div class="other_gender">O</div>
}
@if(person.isStudent()) {
	<div class="student"></div>
}
<h4><a href="@routes.CRM.person(person.person_id)">
@person.first_name @person.last_name</a></h4>
@if( person.notes ) {
	<p>@person.notes</p>
}
<div id="person_tags_@person.person_id">
 @for( t <- person.tags ) {
	 @tag_fragment(t, person)
  }
  @if( person.tags.size() > 0 ) { <br> }
<a id="add_tag_a_@person.person_id"
	href="#" onclick="$('#add_tag_@person.person_id').show();$('#add_tag_@person.person_id input').focus();$('#add_tag_a_@person.person_id').hide();return false;">Add tag</a>
</div>
<br>
<span id="add_tag_@person.person_id" style="display:none;">
Add tag:<input type="text" id="person_tag_entry_@person.person_id"/><br></span>

<script type="text/javascript">
/* HACK CITY -- do this so that we don't have to refactor tag_fragment and
  person.scala.html to use Handlebars to generate tag labels. */
function removeTag(el, person_id, tag_id)
{
    el.prev().empty();
    el.empty();
    $.post("/removeTag/" + person_id + "/" + tag_id,
           function(data, textStatus, jqXHR) {}
    );
};

requirejs(['utils'], function(utils) {
    utils.enableTagBox("#person_tag_entry_@person.person_id",
    			 "#person_tags_@person.person_id",
                 @person.person_id);
});
</script>

@if( person.email ) {
	<a href="mailto:@person.email">@person.email</a><br>
}
@for( number <- person.phone_numbers ) {
    @number.number
	@if( number.comment ) {
	    (@number.comment)
	}
	<br/>
}
@if( person.address ) {
	@person.address<br>
	@person.city, @person.state @person.zip<br>
} else { @if( person.neighborhood ) {
	'hood: @person.neighborhood<br>
} }

@if( person.previous_school || person.school_district) {
	<br>
}
@if( person.previous_school ) {
  <b>Previous School:</b> @person.previous_school<br/>
}
@if( person.school_district) {
  <b>District:</b> @person.school_district<br/>
}

@if(person.dob != null) {
	<br>Age @CRM.calcAge(person) (born @CRM.formatDob(person.dob))
}
@if(!person.grade.equals("")) {
	<br>Grade @person.grade<br>
}
<a href="@routes.CRM.editPerson(person.person_id)">Edit</a>
</div>
