@(p : Person, history : PersonHistory)

@import helper._

<h3>@p.getDisplayName()'s JC history</h3>

<h4>Summary</h4>
<table class="table">
<tr><th width=50%>Rule<th width=25%>Most Recent Violation<th># of violations</tr>
@for( r <- history.rule_records ) {
	<tr><td width=50%>@r.rule.title
		<td>
		@if( r.most_recent_charge != null ) {
			@Application.formatDateShort(r.most_recent_charge)
		}
		<td align=right>@r.count</tr>
}
</table>

<h4>Detailed Charges</h4>
@for( c <- p.charges ) {
	<p><b>@c.the_case.case_number</b>.

	Findings: @c.the_case.findings.
	@if( c.rule != null ) {
		<b>@c.rule.title</b>.
	}

	@if( !c.plea.equals("Guilty") ) {
		Plead <b>@c.plea</b>.
	}
}

