@(p : Person, history : PersonHistory, recent_rps : List[ Charge ], redact_names: Boolean)

@import helper._

<h3>@p.getDisplayName()'s @orgConfig.str_jc_name_short history, @Application.yymmddDate(orgConfig, history.start_date) to @Application.yymmddDate(orgConfig, history.end_date)</h3>
<h4>Recent @orgConfig.str_res_plans</h4>

@if( recent_rps.size() == 0 ) {
<p>None. Go @p.getDisplayName()!
} else {
<table class="table">
<thead><tr><th>Day<th width=45%>Entry<th width=45%>@orgConfig.str_res_plan_cap</tr></thead>
<tbody>
@for( c <- recent_rps ) {
<tr><td>@Application.formatDayOfWeek(c.the_case.meeting.date)
<td>@c.getRuleTitle()
<td>@c.resolution_plan
}
</tbody>
</table>
}

<h4>Rule violation counts</h4>
<table class="table sortable">
<thead><tr><th width=50% class="sorttable_alpha">Entry<th width=25% class="sorttable_school_mmdd">Most Recent Violation<th class="sorttable_numeric"># of violations</tr></thead>
<tbody>
@for( r <- history.rule_records ) {
	<tr><td width=50%>@if(r.rule != null) { @r.rule.getNumber() @r.rule.title } else { <i>unknown</i> }
		<td>
		@if( r.most_recent_charge != null ) {
			@Application.formatDateShort(orgConfig, r.most_recent_charge)
		}
		<td align=right>@r.count</tr>
}
</tbody>
</table>

<h4>Case Details...</h4>
@if(redact_names) {
<p>Names have been removed. <a nosidebar href="@routes.Application.viewPersonHistory(
	p.person_id,
	false,
	Application.forDateInput(history.start_date),
	Application.forDateInput(history.end_date))">View with names.</a>
} else {
<p>Names are intact. <a nosidebar href="@routes.Application.viewPersonHistory(
	p.person_id,
	true,
	Application.forDateInput(history.start_date),
	Application.forDateInput(history.end_date))">Remove names.</a>
}
<ul class="nav nav-tabs">
  <li class="active"><a href="#byrule" data-toggle="tab">... by Entry</a></li>
  <li><a href="#bydate" data-toggle="tab">... by Date</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="byrule">
	@for( (rule, charges) <- history.charges_by_rule ) {
		@if( rule != null ) {
			<h4 style="margin-top: 2em;">@rule.getNumber() @rule.title</h4>
		}
		@for( c <- charges) {
			@historyCharge(c, false, false, redact_names)
		}
	}
	</div>

	<div class="tab-pane" id="bydate">
	<p>&nbsp;</p>
	@for( c <- history.charges_by_date) {
		@historyCharge(c, false, true, redact_names)
	}
	</div>
</div>