@(currentUsername: Optional[String], orgConfig: OrgConfig, chapters : List [ Chapter ] )

@import helper._

@main(currentUsername, orgConfig, orgConfig.str_manual_title, "manual", "manual_print") {

<h2>Download @orgConfig.str_manual_title as a PDF</h2>

<p><a href="@routes.Application.printManualChapter(-1)">Entire manual</a>

<p>Chapters:
<ul>
<li><a href="@routes.Application.printManualChapter(-2)">Table of Contents</a>
@for( c <- chapters ) {
	<li><a href="@routes.Application.printManualChapter(c.id)">@c.num @c.title</a>
}
</ul>

}