@(charge : Charge)

@import helper._


			<tr>
				<td class="name col-xs-1">@charge.person.getDisplayName()
				<td class="col-xs-3">@charge.the_case.case_number (@Html(charge.getDayOfWeek()))<br>
					@charge.getRuleTitle()
				<td class="col-xs-7">@charge.resolution_plan
				@if(charge.sm_decision != null) { <b>[Sch. Mtg. decided:</b> @charge.sm_decision<b>]</b> }
				<td class="col-xs-1" style="vertical-align:middle;">@if( orgConfig.show_checkbox_for_res_plan ) {<div class="checkbox"></div>}
			</tr>