@(r : Entry, history : RuleHistory, recent_rps : Collection[ String ])

@import helper._

<h3>@r.getNumber() @r.title</h3>
<p>@Application.yymmddDate(history.start_date) to @Application.yymmddDate(history.end_date)</p>

<div class="should-limit"><b>Rule text:</b> @Html(Application.markdown(r.content))</div>

<h4>Recent @OrgConfig.get().str_res_plans</h4>

@if( recent_rps.size() == 0 ) {
<p>None.
} else {
<ul>
@for( rp <- recent_rps ) {
<li>@rp
}
</ul>
}

<table class="table sortable">
<thead><tr><th width=50% class="sorttable_alpha">Person<th width=25% class="sorttable_school_mmdd">Most Recent Violation<th class="sorttable_numeric"># of violations</tr></thead>
<tbody>
@for( r <- history.rule_records ) {
	<tr><td>@if(r.person != null) { @r.person.getDisplayName() } else { <i>unknown</i> }
		<td>
		@if( r.most_recent_charge != null ) {
			@Application.formatDateShort(r.most_recent_charge)
		}
		<td align=right>@r.count</tr>
}
</tbody>
</table>

<hr>

@for( c <- history.charges) {
	@historyCharge(c, true, false, false)
}

