@(people : List[Person])(implicit request: Request)


<table class="table sortable">
<tr><th><th>Student<th>School District<th>DOB<th>Age at start of school year<th>Grade<th>Gender<th># of siblings<th>Address<th>Phone Number

@for( p <- people ) {
       <tr>
       <td><input type="checkbox" class="person" name="person-@p.person_id"></td>
       <td><a href="@routes.CRM.person(p.person_id)">@p.first_name @p.last_name</a>
       <td>@p.school_district
       <td>@CRM.formatDob(p.dob, orgConfig)
       <td>@CRM.calcAgeAtBeginningOfSchool(p)
       <td>@p.grade
       <td>@p.gender
       <td>@p.numSiblings()
       <td>@Html(p.familyAddresses().mkString("<br/>"))
       <td>@Html(p.familyPhoneNumbers.mkString("<br/>"))
       </tr>
}

</table>