@(people : List[Person])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)


<table class="table sortable">
<tr><th><th>Student<th>School District<th>DOB<th>Age at start of school year<th>Grade<th>Gender<th># of siblings<th>Address<th>Phone Number

@for( p <- people ) {
       <tr>
       <td><input type="checkbox" class="person" name="person-@p.getPersonId()"></td>
       <td><a href="@routes.CRM.getPerson()(p.getPersonId())">@p.getFirstName() @p.getLastName()</a>
       <td>@p.getSchoolDistrict()
       <td>@CRM.formatDob(p.getDob(), Utils.getOrgConfig(request))
       <td>@CRM.calcAgeAtBeginningOfSchool(p)
       <td>@p.getGrade()
       <td>@p.getGender()
       <td>@p.numSiblings()
       <td>@Html(p.familyAddresses().mkString("<br/>"))
       <td>@Html(p.familyPhoneNumbers.mkString("<br/>"))
       </tr>
}

</table>
