@(orgConfig: OrgConfig, 
  mc_lists : Map [ String, com.ecwid.mailchimp.method.v2_0.lists.ListMethodResult.Data ],
  info : MailChimpSyncInfo)

<html>
<body>
<h3>MailChimp updates</h3>

@for( list_id <- info.list_changes.keySet() ) {
<h4>@mc_lists.get(list_id).name</h4>

@if( info.list_changes.get(list_id).adds.size() > 0) {
The following people were added to the list:
<ul>
	@for( p <- info.list_changes.get(list_id).adds) {
		<li><a href="@{orgConfig.people_url}@routes.CRM.person(p.person_id)">
		@p.first_name @p.last_name</a>
	}
</ul>
}

@if( info.list_changes.get(list_id).removes.size() > 0) {
The following people were removed from the list:
<ul>
	@for( p <- info.list_changes.get(list_id).removes) {
		<li><a href="@{orgConfig.people_url}@routes.CRM.person(p.person_id)">
		@p.first_name @p.last_name</a>
	}
</ul>
}

@if( info.list_changes.get(list_id).updates.size() > 0) {
The following people's email address was updated:
<ul>
	@for( p <- info.list_changes.get(list_id).updates) {
		<li><a href="@{orgConfig.people_url}@routes.CRM.person(p.person_id)">
		@p.first_name @p.last_name</a>
	}
</ul>
}


@if( info.list_changes.get(list_id).errors.size() > 0) {
The following errors occurred:
<ul>
	@for( message <- info.list_changes.get(list_id).errors) {
		<li>@message
	}
</ul>
}

}

</body>
</html>