@(tag: Tag, people: List[Person], people_with_family: Collection[Person], use_student_display: Boolean, allow_edit: Boolean)

@import helper._

@main("All people tagged " + tag.title, "crm") {
<h1>@tag.title
@if( allow_edit ) {
    <a class="man-edit no-print" href="@routes.CRM.editTag(tag.id)">Edit Tag</a>
}
@if( tag.task_lists.size() > 0 ) {
   <span class="view-task-list">Also see task list:
   @for( task_list <- tag.task_lists ) {
    <a href="@routes.CRM.viewTaskList(task_list.id)">@task_list.title</a>
   }
   </span>
}

</h1>
<p>@people.size() people.
    <a href="@routes.CRM.downloadTag(tag.id)">
        <span class="glyphicon glyphicon-download-alt"></span> Download all as spreadsheet
	</a>
</p>


<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tag-people" data-toggle="tab">People</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
    <li><a href="#bulk-add" data-toggle="tab">Add people in bulk</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tag-people">
		@if(use_student_display) {
			@student_list(people)
		} else {
			@people_list(people)
		}

		@tag_extras(people, people_with_family)
	</div>
    <div class="tab-pane" id="history">
		<table class="table" style="width: 400px;">
		<thead><th>Name<th>Date of change</thead><tbody>
		@for( c <- tag.changes ) {
			<tr><td>
			@if( c.was_add ) {
				<img height=18 src="@routes.Assets.versioned("images/plus.png")"/>
			} else {
				<img height=18 src="@routes.Assets.versioned("images/minus.png")"/>
			}
			<a href="@routes.CRM.person(c.person.person_id)">
				@c.person.first_name @c.person.last_name
			</a></td>
			<td>@Application.yymmddDate(c.time)</td>
			</tr>
		}
		</tbody></table>
	</div>
    <div class="tab-pane" id="bulk-add">
        <h3>Add people by name</h3>
        @helper.form(routes.CRM.addPeopleToTag()) {
            <input type="hidden" name="dest_id" value="@tag.id">
            <div class="row">
                <div class="col-sm-2">
                    Enter names to add:
                </div>
                <div class="col-sm-6 col-xs-12 people-input-area">
                    <div class="people_chooser">
                        <div class="people"></div>
                        <input class="form-control person_search" type="text">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                </div>
            </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 col-xs-12">
                <input class="btn btn-primary" type="submit" value="Add these people"/>
            </div>
        </div>
        }
        <h3>Add people by tag</h3>
        @helper.form(routes.CRM.addPeopleFromTag()) {
            <input type="hidden" name="dest_id" value="@tag.id">
            Add everyone who is already tagged
            <span id="tags-entered"></span>
            <input type="text" id="tag-entry">

            <br/>
            <input class="btn btn-primary" type="submit" value="Add from this tag"/>
        }
	</div>
      <script type="text/javascript">
            initPeopleChooser('.people_chooser',
                function(person) {
                    var existing = $('.people_chooser [value="' + person.id + '"]');
                    if (existing.length == 0) {
                        $('.people_chooser').append('<input type="hidden" name="person_id" value="'
                            + person.id + '">');
                    }
                },
                function(person) {
                    $('.people_chooser [value="' + person.id + '"]').remove();
                });
            enableNoPersonTagBox("#tag-entry", "#tags-entered", true);
      </script>
  </div>
</div>
}
