@(t : Tag, actor_name: String, p : Person, was_add : Boolean)(implicit request: play.mvc.Http.Request)

<html>
<body>
<h3>An update from DemSchoolTools</h3>

<p><b>@actor_name</b>
@if( was_add ) { added } else { removed }
<a href="@{OrgConfig.get(request).people_url}@routes.CRM.person(p.person_id)">
@p.first_name @p.last_name</a>
@if( was_add ) { to } else { from }
tag
<a href="@{OrgConfig.get(request).people_url}@routes.CRM.viewTag(t.id)">
@t.title</a>
</p>

<p>You can also view the
<a href="@{OrgConfig.get(request).people_url}@routes.CRM.viewTag(t.id)#!history">full history</a>
 of that tag.</p>

</body>
</html>