@(list: TaskList, people : List[Person])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main("List: " + list.getTitle(), "crm") {
<h1>@list.getTitle() <a class="edit-link" href="@routes.Settings.viewTaskList(list.getId())">Edit</a></h1>

@defining(new HashSet[Person]()) { people_with_uncompleted_task =>

<table class="table">
<tr><th>Task<th>People who have completed it<th>People who have not completed it. The
	first time someone appears in this column, their name is <span class="first_uncompleted">highlighted</span>.
@for( t <- list.tasks ) {
@if( t.isEnabled() ) {
<tr>
<td>@t.getTitle()
<td>
	@defining(people.filter(p => p.completedTask(t) != null)) { completed_people =>
		(@completed_people.size):
		@for( p <- completed_people) {
			<a href="@routes.CRM.person(p.getPersonId())">@p.getFirstName() @p.getLastName(),</a>
		}
	}
<td>
	@defining(people.filter(p => p.completedTask(t) == null)) { uncompleted_people =>
		(@uncompleted_people.size):
		@for( p <- uncompleted_people) {
			<a @if( people_with_uncompleted_task.add(p) ) { class="first_uncompleted" }
				href="@routes.CRM.person(p.getPersonId())">@p.getFirstName() @p.getLastName(),</a>
		}
	}
} }

</table>
}

}
