@(title : String, people: Collection[Person])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

<h4>Tag "@title"</h4>

<p><b>People:</b>
	@for( p <- people ) {
		@if( !p.getEmail() ) { <font color="#999"> }
		@p.getFirstName() @p.getLastName(),
		@if( ! p.getEmail() ) { </font> }
	}

<p><b>Emails:</b>
	@for( p <- people ) {
		@if( p.getEmail() ) {
			@p.getEmail(),
		}
	}

<p><button type="button" class="btn btn-xs btn-primary" href="#" onclick="clearAddresses();return false;">Clear addresses</button>
