@(model : TransactionList)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@main("Transactions", "accounting", "accounting_transactions") {

	<h2>Transactions</h2>

	@helper.form(routes.Accounting.runTransactionsReport()) {

		<label class="transactions-report-condition">
			<input type="checkbox" name="include_personal" @if(model.include_personal){checked="checked"}>
			Include personal
		</label>
		<label class="transactions-report-condition">
			<input type="checkbox" name="include_non_personal" @if(model.include_non_personal){checked="checked"}>
			Include non-personal
		</label>
		<label class="transactions-report-condition">
			<input type="checkbox" name="include_cash_deposits" @if(model.include_cash_deposits){checked="checked"}>
			Include cash deposits
		</label>
		<label class="transactions-report-condition">
			<input type="checkbox" name="include_cash_withdrawals" @if(model.include_cash_withdrawals){checked="checked"}>
			Include cash withdrawals
		</label>
		<label class="transactions-report-condition">
			<input type="checkbox" name="include_digital" @if(model.include_digital){checked="checked"}>
			Include digital
		</label>
		<label class="transactions-report-condition">
			<input type="checkbox" name="include_archived" @if(model.include_archived){checked="checked"}>
			Include archived
		</label>
		<br>
		<button type="submit" name="action" value="fetch" class="transactions-fetch">Fetch transactions</button>
		<button type="submit" name="action" value="download"class="transactions-fetch">Fetch and download as csv</button>
		<br>
	}

	@if(model.transactions != null) {
		<table class="table sortable">
			<tr>
				<th>Archived</th>
				<th>Transaction ID</th>
				<th>Date</th>
				<th>Created By User</th>
				<th>Type</th>
				<th>Description</th>
				<th class="balance">Amount</th>
			</tr>
			@for(transaction <- model.transactions) {
				<tr class="@transaction.getCssClass()">
					<td><input type="checkbox"
							class="js-archive"
							data-id="@transaction.id"
							name="archived"
							value="@transaction.archived"
							@if(transaction.archived){checked="checked"}
							/></td>
					<td><a href="@routes.Accounting.transaction(transaction.id)">@transaction.id</a></td>
					<td>@transaction.getFormattedDate()</td>
					<td>@transaction.getCreatedByUserName()</td>
					<td>@transaction.getTypeName()</td>
					<td>@transaction.description</td>
					<td class="balance">@transaction.getFormattedAmount(false)</td>
				</tr>
			}
		</table>
	}
	<br>
	<br>
}

<script type="text/javascript">
	initTransactionList();
</script>