@(orgConfig: OrgConfig, form: Form[Organization], org : Organization, mc_syncs : List [ MailchimpSync ],
  mc_lists : Map [ String, com.ecwid.mailchimp.method.v2_0.lists.ListMethodResult.Data ])

@main(orgConfig, "Mailchimp Settings", "settings") {

<h1>MailChimp integration is disabled.</h1>

<h3>MailChimp settings</h3>
<p style="width: 400px">To connect your MailChimp account, go to your account page, then select "API keys"
from the extras menu. Click on the "Create A Key" button, then copy and paste the key
into the text field below.

@helper.form(routes.CRM.saveMailchimpSettings()) {
	<p>MailChimp API key:
		<input type="text" size=80 name="mailchimp_api_key", value="@org.mailchimp_api_key"/>
	<p>Send confirmation of updates to this email:
		<input type="text" size=40 name="mailchimp_updates_email", value="@org.mailchimp_updates_email"/>
	<p><input type="submit" value="Save settings">
}

@if( !org.mailchimp_api_key.equals("") && mc_lists.size() == 0 ) {
<p><b>The current MailChimp API key is invalid, or belongs to an account that has
no active lists.</b>
}

<hr/>
<h4>Existing MailChimp connections</h4>

@if( mc_lists.size() > 0 ) {
<p style="width: 400px">Whenever a person's email address is changed in this database,
the change will be propagated to any of the @mc_lists.size() MailChimp lists that
the person is subscribed to.
}

<ul>
@for( sync <- mc_syncs ) {
  <li>
  When people are <b>@if(sync.sync_local_adds) {added to} else {removed from}</b>
  tag <label class="label label-success">@sync.tag.title</label>, the same change is made to MailChimp list
	  @if(mc_lists.get(sync.mailchimp_list_id) != null){ "@mc_lists.get(sync.mailchimp_list_id).name"
		  } else { with ID @sync.mailchimp_list_id }.
  @helper.form(routes.CRM.saveMailchimpSettings(), 'style -> "display: inline") {
  <input type="hidden" name="remove_sync_id" value=@sync.id>
  <input type="submit" value="Remove">
}
</li>
}
</ul>

<hr/>
<h4>Add new MailChimp connection</h4>

@helper.form(routes.CRM.saveMailchimpSettings()) {

When people are <select name="sync_type">
	<option value="local_add">added to</option>
	<option value="local_remove">removed from</option>
		</select> tag(s) <div style="display:inline" id="tags-entered"></div><input type="text" id="tag-entry">, make the same change to MailChimp list

<select id="mailchimp_list_id" name="mailchimp_list_id">
	@mc_lists.keys.map(id =>
        Html("<option value=" + id + " >" + mc_lists.get(id).name + "</option>"))
</select>

<input type="submit" value="Add new sync rule">

<script type="text/javascript">
utils.enableNoPersonTagBox("#tag-entry", "#tags-entered", false);
</script>
}

}