@(chapters : List [ Chapter ] )

@import helper._

@main(OrgConfig.get().str_manual_title, "view_manual", "jc") {

<h1>@OrgConfig.get().short_name @OrgConfig.get().str_manual_title</h1>

<h3 class="no-print"><a href="@routes.Application.viewManualChanges()">See what's changed</a></h3>

<p class="no-print"><a href="@routes.ApplicationEditing.addChapter()">Add new chapter</a>

<ul>
@for( c <- chapters ) {
	<li><a href="@routes.Application.viewChapter(c.id)">@c.num @c.title</a>
	<ul>
	@for(section <- c.sections) {
		<li><a href="@routes.Application.viewChapter(c.id)#section_@section.id">@c.num@section.num @section.title</a>
		<ul>
		@for(entry <- section.entries) {
			<li><a href="@routes.Application.viewChapter(c.id)#entry_@entry.id">@c.num@(section.num).@entry.num @entry.title</a>
		}
		</ul>
	}
	</ul>
}
</ul>

}

