@(sm_charges : List [ Charge ])

@import helper._

@main("Charges referred to School Meeting", "jc", "view_referred") {

<h2>Charges referred to School Meeting</h2>
@if( sm_charges.size() > 0 ) {
	<table class="table">
		<thead><th width="100">Case
			<th width="20">Person
			<th width="150">Entry
			<th width="70">Plea
			<th>@OrgConfig.get().str_res_plan_cap<th>@OrgConfig.get().str_findings</thead>
	@for( c <- sm_charges ) {
		<tr><td>@c.the_case.case_number
			<td>@if(c.person != null) { @c.person.getDisplayName() } else { <i>No one</i> }
			<td>@c.getRuleTitle()
			<td>@c.plea
			<td>@c.rp_text
			<td>@Utils.newlineToBr(c.the_case.findings)
	}
	</table>

	<a class="btn btn-primary" href="@routes.ApplicationEditing.enterSchoolMeetingDecisions">
	Record School Meeting decisions</a>
} else {
	<p>No charges awaiting a decision from School Meeting.
}

}