@(chapter : Chapter)

@import helper._

@main("" + chapter.num + " " + chapter.title, "manual") {

<div id="footer">
Printed on @Application.yymmddDate(OrgConfig.get(), ).
</div>

<div class="man-chapter">@chapter.num @chapter.title <a class="man-edit no-print" href="@routes.ApplicationEditing.editChapter(chapter.id)">Edit</a></div>
<p><a class="no-print" href="@routes.ApplicationEditing.addSection(chapter.id)">Add section in @chapter.num @chapter.title</a></p>

@for(section <- chapter.sections) {
<div class="man-section">
	<div class="man-section-header">
	  <a name="section_@section.id"></a>@section.getNumber() @section.title <a class="no-print man-edit" href="@routes.ApplicationEditing.editSection(section.id)">Edit</a>
	</div>
	<p><a class="no-print" href="@routes.ApplicationEditing.addEntry(section.id)">Add entry in @chapter.num@section.num @section.title</a></p>
	@for(entry <- section.entries) {
	<div class="man-entry">
		<a name="entry_@entry.id"></a>
		<p class="man-entry-num">@entry.getNumber() @entry.title <a class="no-print man-edit" href="@routes.ApplicationEditing.editEntry(entry.id)">Edit</a>
			@if( entry.changes.size() > 0 ) {
				<span class="man-last-modify-date @if(!OrgConfig.get().org.show_last_modified_in_print){no-print}">
                    changed @Application.yymmddDate(OrgConfig.get(), entry.changes.get(entry.changes.size()-1).date_entered)
                </span>
			}
									</p>
		<div class="man-entry-content">@Html(Application.markdown(entry.content))

			@defining(entry.changes) { changes =>
			@if( changes.size() > 1) {
			<p class="man-entry-change-history @if(!OrgConfig.get().org.show_history_in_print){no-print}">
				@for( i <- 0 to changes.size() - 1) {
                    @if( (i == 0) ||
                        (changes.get(i).date_entered.getDate() != changes.get(i-1).date_entered.getDate() ||
                         changes.get(i).date_entered.getMonth() != changes.get(i-1).date_entered.getMonth() ||
                         changes.get(i).date_entered.getYear() != changes.get(i-1).date_entered.getYear())) {
                        @defining(changes.get(i)) { change =>
                            @if( change.was_created ) { Adopted
                            } else { @if( change.was_deleted ) { Repealed
                            } else { Amended } }
                            @Application.yymmddDate(OrgConfig.get(), change.date_entered);
                        }
                    }
                }
			</p>
			}
			}
		</div>
	</div>
	}
</div>
}


}

