@(email : Email, test_addresses : List [ String ], from_addresses : List [ String ] )

@import helper._

@main("Pending Email", "crm") {

<script src="@routes.Assets.versioned("javascripts/send_email.js")" type="text/javascript">
</script>

<h3>Pending email</h3>
<pre>Subject: @email.parsedMessage.getSubject()</pre>

<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Testing</h3>
  </div>
  <div class="panel-body">
<p>To address:<select id="test_destination">
	@for( address <- test_addresses) {
		<option value="@address">@address</option>
	}
</select>
<img src="@routes.Assets.versioned("/images/loading.gif")" id="loading-indicator-test" style="display:none" />
<button type="button" id="send-button-test" class="btn btn-warning btn-sm"
onclick="sendTestEmail('@routes.CRM.sendTestEmail()', @email.id);">Send test email</button>

<p><p>Changed your mind? <button type="button" class="btn btn-danger btn-sm"
onclick="deleteEmail('@routes.CRM.deleteEmail()', @email.id);">Delete this message.</button>
  </div>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Send for real</h3>
  </div>
  <div class="panel-body">
<p><b>1. </b>Send to tag: <input width=40 id="to_tag">

<select id="family_mode">
<option value="just_tags">Tag members</option>
<option value="with_family">Tag members + family</option>
<option value="family_no_kids">Tag members + family, not including children</option>
</select>

<div id="to_addresses"></div>

<p><b>2. From address</b> (replies will go here):<select id="source_address">
	@for( address <- from_addresses) {
		<option value="@address">@address</option>
	}
</select>

<p>
<img src="@routes.Assets.versioned("/images/loading.gif")" id="loading-indicator" style="display:none" />
<button type="button" id="send-button" class="btn btn-warning btn-sm"
onclick="sendEmail('@routes.CRM.sendEmail()', @email.id);">3. SEND!</button>

<p>(A copy will be sent to staff@@TRVS)
  </div>
</div>




}