@(lists: List[TaskList], listForm : Form[TaskList])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._
@implicitField = @{ FieldConstructor(myConstructor.f) }

@main("All Checklists", "settings", "settings_checklists") {

<h3>All Checklists</h3>

<p>Click on the name of a checklist in order to view or edit its component tasks.</p>

<ul>
@for( list <- lists ) {
	<li><a href="@routes.Settings.viewTaskList(list.getId())">@list.getTitle()</a>
		<a href="@routes.CRM.viewTag(list.getTag().getId())">
		<label class="label label-success">@list.getTag().getTitle()</label></a></li>
}
</ul>

<hr/>
<h4>Create a new checklist</h4>
@form(routes.Settings.newTaskList(), Symbol("class") -> "form-horizontal", Symbol("role") -> "form") {


	@inputText(listForm("title"), Symbol("_label") -> "Title", Symbol("class") -> "form-control")

	<div class="form-group"><label class="col-sm-3 control-label">Tag</label>
	<div class="col-sm-6" id="tags-entered"><input type="text" id="tag-entry"></div></div>

	<input type="submit" value="New Checklist">
}

<script type="text/javascript">
enableNoPersonTagBox("#tag-entry", "#tags-entered", true);
</script>


}
