@(m : Meeting)

@import helper._

@main("JC resolution plans from " + Application.formatMeetingDate(m.date)) {

<script>
$(function() {
	print();
});
</script>

<table class="table printable-res-plans">
	@for(c <- m.cases) {
		@for(charge <- c.charges) {
			@if( charge.person != null && charge.rule != null 
				&& !charge.referred_to_sm
				&& !(charge.resolution_plan.trim().toLowerCase().equals("warning") ||
					 charge.resolution_plan.trim().toLowerCase().equals("warning."))
				&& charge.plea.equals("Guilty")) {
			<tr>
				<td class="name" width="20">@charge.person.getDisplayName()
				<td>@c.case_number<br>
					@charge.rule.title
				<td>@charge.resolution_plan
			</tr>
			}
		}
	}
</table>

}

