@(sm_charges : List [ Charge ])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main(messages("charges_referred_to_school_meeting"), "jc", "view_referred") {

<h2>@messages("charges_referred_to_school_meeting")</h2>
@if( sm_charges.size() > 0 ) {
	<table class="table">
		<thead><th width="100">@messages("case_title")
			<th width="20">Person
			@if(Utils.getOrgConfig(request).show_entry){
				<th width="150">Entry
			}
			@if(Utils.getOrgConfig(request).show_plea){
				<th width="70">Plea
			}
			<th>@Utils.getOrgConfig(request).str_res_plan_cap<th>@Utils.getOrgConfig(request).str_findings</thead>
	@for( c <- sm_charges ) {
		<tr><td>@c.getTheCase().getCaseNumber()
			<td>@if(c.getPerson() != null) { @c.getPerson().getDisplayName() } else { <i>No one</i> }
			@if(Utils.getOrgConfig(request).show_entry){
				<td>@c.getRuleTitle()
			}
			@if(Utils.getOrgConfig(request).show_plea){
				<td>@Utils.getOrgConfig(request).translatePlea(c.getPlea())
			}
			<td>@c.getResolutionPlan()
			<td>@Utils.newlineToBr(Application.generateCompositeFindingsFromChargeReferences(c.getTheCase()))
	}
	</table>

	<a class="btn btn-primary" href="@routes.ApplicationEditing.enterSchoolMeetingDecisions()">
	Record School Meeting decisions</a>
} else {
	<p>No charges awaiting a decision from School Meeting.
}

}
