@(charges : List [ Charge ])

@import helper._

@main("Past School Meeting decisions", "view_sm", menu = "jc") {

<h3>Past School Meeting decisions</h3>
<table class="table printable-res-plans">
@for( c <- charges ) {
	@if( c.sm_decision_date != null &&
		c.sm_decision_date.equals(charges.head.sm_decision_date) ) {
		@resolution_plan(c)
	}
}
</table>
@for( c <- charges) {
	@historyCharge(c, true, true, false)
	<a href="@routes.ApplicationEditing.editSchoolMeetingDecision(c.id)" class="man-edit">Edit</a>
}

}
