@(email : Email, addresses : List [ String ] )

@import helper._

@main("Pending Email", "email") {

<script src="@routes.Assets.at("javascripts/send_email.js")" type="text/javascript">
</script>

<h3>Pending email</h3>
<p>Message has @email.attachments.size() attachment(s).
<pre>Subject: @email.parsedMessage.getSubject()</pre>
Here's the message text (it might look fancier when it is sent):
<pre>@email.textBody</pre>


<hr>
<h3>Testing...</h3>
<p>To address:<select id="test_destination">
	@for( address <- addresses) {
		<option name="@address">@address</option>
	}
</select>
<button type="button" class="btn btn-warning btn-sm"
onclick="javascript:sendTestEmail('@routes.CRM.sendTestEmail()', @email.id);">Send test email</button>

<p><p>Changed your mind? <button type="button" class="btn btn-danger btn-sm" 
onclick="javascript:deleteEmail('@routes.CRM.deleteEmail()', @email.id);">Delete this message.</button>

<hr>
<h3>Send for real</h3>

<p>Send to tag: <input width=40 id="to_tag"> 

<select id="family_mode">
<option value="just_tags">Tag members</option>
<option value="with_family">Tag members + family</option>
<option value="family_no_kids">Tag members + family, not including children</option>
</select>

<div id="to_addresses"></div>

<p><b>From address</b> (replies will go here):<select id="source_address">
	@for( address <- addresses) {
		<option name="@address">@address</option>
	}
</select>

<p><button type="button" class="btn btn-warning btn-sm" 
onclick="javascript:sendEmail('@routes.CRM.sendEmail()', @email.id);">1...2...3...SEND!</button>

<p>(A copy will be sent to staff@@TRVS)



}