@(r : Entry, history : RuleHistory, recent_rps : Collection[ String ], was_date_restricted : Boolean)(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@import helper._

@main("History of " + r.getNumber() + " " + r.getTitle(), "jc") {

@if(was_date_restricted) {
    <div class="flash-error">You must be logged in to view info prior to
        @{Application.yymmddDate(Utils.getOrgConfig(request), ModelUtils.getStartOfYear())}.</div>
}

<script type="text/javascript">
$(function() {
    $("table.sortable").each(function (i) {
        sorttable.init();
        sorttable.innerSortFunction.apply($(this).find("th")[1], []);
    });
});
</script>

<form method="GET">
<p>Show history from
<input type="date" name="start_date" value="@Application.forDateInput(history.start_date)"> to
<input type="date" name="end_date" value="@Application.forDateInput(history.end_date)">
<input type="submit">
</p>
</form>

@rule_history(r, history, recent_rps)

}
