@(orgConfig: OrgConfig, p : Person, history : PersonHistory, recent_rps : List[ Charge ],
 redact_names : Boolean)

@import helper._

@main(orgConfig, p.getDisplayName() + "'s " + orgConfig.str_jc_name_short + " history", "jc") {

@if(flash.containsKey("notice")) {
    <div class="flash-error">@flash.get("notice")</div>
}


<script type="text/javascript">
$(function() {
    $("table.sortable").each(function (i) {
        sorttable.init();
        sorttable.innerSortFunction.apply($(this).find("th")[1], []);
    });
});
</script>

<form method="GET">
<p>Show history from
<input type="date" name="start_date" value="@Application.forDateInput(history.start_date)"> to
<input type="date" name="end_date" value="@Application.forDateInput(history.end_date)">
<input type="submit">
</p>
</form>

@person_history(orgConfig, p, history, recent_rps, redact_names)

}