@(p : Person, history : PersonHistory, recent_rps : List[ Charge ],
 redact_names : Boolean)

@import helper._

@main(p.getDisplayName() + "'s JC history", "jc") {

<script type="text/javascript">
requirejs(['utils'], function() {
	$(function() {
		$("table.sortable").each(function (i) {
			sorttable.init();
			sorttable.innerSortFunction.apply($(this).find("th")[1], []);
		});
	});
});
</script>

<form method="GET">
<p>Show history from
<input class="date" type="text" name="start_date" value="@Application.yymmddDate(history.start_date)"> to
<input class="date" type="text" name="end_date" value="@Application.yymmddDate(history.end_date)">
<input type="submit">
</p>
</form>

@person_history(p, history, recent_rps, redact_names)

}
