@(orgConfig: OrgConfig, begin_date : String, changes : List [ ManualChange ] )

@import helper._

@main(orgConfig, orgConfig.str_manual_title, "manual", "manual_changes") {

<h3>Changes to the @orgConfig.str_manual_title</h3>

<form method="GET">
<p class="highlight">Show changes since
<input type="date" name="begin_date" value="@begin_date">
<input type="submit">

</p>
</form>

@for( i <- 0 to changes.size() - 1) {
@defining(changes.get(i)) { c =>
	<div class="change_log">
	<div class="date_entered">
		@Application.formatDateMdy(orgConfig, c.date_entered)
	</div>
	@if( c.was_created ) {
		<table cellpadding=20>
		<tr><td><img src="@routes.Assets.versioned("images/new_icon.png")" width=48>
		<td>
		@entry(c.entry.getNumber(), c.entry.title, c.entry.content, c.entry.deleted)
		</tr></table>
	} else { @if( c.was_deleted ) {
		@entry(c.entry.getNumber(), c.entry.title, c.entry.content, c.entry.deleted)
	} else {
		<table cellpadding=5><tr>
		<td width="50%">@entry(c.old_num, c.old_title, c.old_content, false)
		<td><img src="@routes.Assets.versioned("images/change_arrow.png")">
		<td width="50%">@entry(c.new_num, c.new_title, c.new_content, false)
		</tr></table>
	} }
	</div>
}
}

}