@(notice: String)

@import helper._
@implicitField = @{ FieldConstructor(myConstructor.f) }

@main("Change your password", "settings", "settings_password") {

<h3>Change password</h3>

@if( notice != null ) { <div class="alert alert-warning"><strong>@notice</strong></div> }

<p class="instructions">
	If you would like to log in using your email address and a password
	instead of Google or Facebook, set a password here.
</p>

<form action="/settings/password" method="POST">
<table>
	<tr><td>
	New password: <td><input type="password" name="password" size=40/>
	<tr><td>
	Confirm new password: <td><input type="password" name="confirmPassword" size=40/>
	<tr><td>&nbsp;</td><td>
	<input type="Submit" value="Change password" />
</form>

}
