@(currentUsername: Optional[String], orgConfig: OrgConfig, r : Entry, history : RuleHistory, recent_rps : Collection[ String ])

@import helper._

@main(currentUsername, orgConfig, "History of " + r.getNumber() + " " + r.title, "jc") {

@if(flash.containsKey("notice")) {
    <div class="flash-error">@flash.get("notice")</div>
}

<script type="text/javascript">
$(function() {
    $("table.sortable").each(function (i) {
        sorttable.init();
        sorttable.innerSortFunction.apply($(this).find("th")[1], []);
    });
});
</script>

<form method="GET">
<p>Show history from
<input type="date" name="start_date" value="@Application.forDateInput(history.start_date)"> to
<input type="date" name="end_date" value="@Application.forDateInput(history.end_date)">
<input type="submit">
</p>
</form>

@rule_history(orgConfig, r, history, recent_rps)

}