@(notifications : List [ NotificationRule ], org: Organization, play_config: play.Configuration)

@main("Settings", "settings", "settings") {

<h2>Notifications about people and tags</h2>

<h4>Existing notification rules</h4>
<ul>
@if( notifications.size() == 0 ) {
    <p><i>There are no existing notification rules. You can add some below.</i></p>
}
@for( n <- notifications ) {
    @if( n.the_type == NotificationRule.TYPE_TAG) {
    <li>When people are added to or removed from tag
        <label class="label label-success">@n.tag.title</label>, email <u>@n.email</u>
    }
    @if( n.the_type == NotificationRule.TYPE_COMMENT) {
        <li>When a comment about a person is added, optionally email <u>@n.email</u>
    }
    @if( n.the_type == NotificationRule.TYPE_SCHOOL_MEETING) {
    <li>When a JC charge is referred to School Meeting, email <u>@n.email</u>
    }
    @helper.form(routes.Settings.editNotifications(), 'style -> "display: inline") {
        <input type="hidden" name="remove_notification_id" value=@n.id>
        <input type="submit" value="Remove">
    }
    </li>
}
</ul>

<h4>Add a new notification</h4>

@helper.form(routes.Settings.editNotifications()) {
When people are added to or removed from tag
<span id="tags-entered"></span><input type="text" id="tag-entry">,
email <input type="text" name="email"/>
<input type="submit" value="Create"/>
}

@helper.form(routes.Settings.editNotifications()) {
When a comment about a person is entered,
email <input type="text" name="email"/>
<input type="hidden" name="comment"/>
<input type="submit" value="Create"/>
}

@helper.form(routes.Settings.editNotifications()) {
When a JC charge is referred to School Meeting,
email <input type="text" name="email"/>
<input type="hidden" name="school_meeting"/>
<input type="submit" value="Create"/>
}

<script type="text/javascript">
enableNoPersonTagBox("#tag-entry", "#tags-entered", true);
</script>

}

<hr/>
<h2>Attendance and Custodia</h2>
<p class="instructions">DemSchoolTools has two attendance tracking systems. "Attendance" is the original one, and allows
you to manually enter students' arrival and departure times, as well as absence reasons. "Custodia" (new as of Fall 2017)
lets students and staff sign in and out using a web interface, so there is no manual entry of arrival and departure times.
It is totally fine to have both enabled at once. Data in Custodia can be imported into Attendance, but not
the other way around.</p>

@helper.form(routes.Settings.editSettings()) {
<p><label><input type="checkbox" name="show_attendance"
                 @if(org.show_attendance){ checked }>
    Enable the "Attendance" tab</label>
    <br/>
    <label><input type="checkbox" name="show_custodia"
                  @if(org.show_custodia){ checked }>
    Enable the "Custodia" tab</label></p>
<p>The Custodia <a target="_blank" href="@play_config.getString("custodia_url")">electronic sign-in sheet</a> username is
    "@OrgConfig.get().org.short_name" (case-sensitive). To reset the password, enter a new one here:
    <br>
    <input type="text" size="30" placeholder="New password" name="custodia_student_password" />
</p>
<input type="hidden" name="attendance_settings" value="true"/>
<input type="submit" value="Save Attendance settings"/>
}

<hr/>
<h2>Accounting</h2>
<p class="instructions">This feature helps you administer student bank accounts by keeping track of
cash deposits into the bank as well as transfers between accounts (checks). Accounts are automatically
created for every person who is tagged with a tag that is enabled for the accounting system (by default,
the "Current Student" and "Staff" tags). Accounts can be created manually for groups within the school.</p>

@helper.form(routes.Settings.editSettings()) {
    <p>
        <label>
            <input type="checkbox" name="show_accounting" @if(org.show_accounting){ checked }>
            Enable the "Accounting" tab
        </label>
    </p>
    <input type="hidden" name="accounting_settings" value="true"/>
    <input type="submit" value="Save Accounting settings"/>
}

<hr/>
<h2>@OrgConfig.get().str_jc_name_short</h2>
<h4>Weekly Report</h4>
@helper.form(routes.Settings.editSettings()) {
    <p>The @OrgConfig.get().str_jc_name_short Weekly Report includes five full school days.</p>
    <p>Reset the report every <select name="jc_reset_day">
        <option value="1" @if(org.jc_reset_day == 1){selected}>Monday</option>
        <option value="2" @if(org.jc_reset_day == 2){selected}>Tuesday</option>
        <option value="3" @if(org.jc_reset_day == 3){selected}>Wednesday</option>
        <option value="4" @if(org.jc_reset_day == 4){selected}>Thursday</option>
        <option value="5" @if(org.jc_reset_day == 5){selected}>Friday</option>
    </select> morning. <input type="submit" value="Save"/></p>
}

<h4>Other @OrgConfig.get().str_jc_name_short options</h4>
<p class="instructions">The following behaviors of the @OrgConfig.get().str_jc_name_short system can be changed easily by Evan, but not
    yet directly by you. Please <a class="feedback_open">contact me</a> if you would like to change any of them.
<ul>
    <li>The format of case numbers, e.g. 2017-03-02-11</li>
    <li>Whether to include the @OrgConfig.get().str_findings in the list of @OrgConfig.get().str_res_plans</li>
    <li>Whether to track and display who wrote up a particular complaint</li>
    <li>Whether to have the ability to refer charges to a destination of your choice (there's a text input next to
    each charge for this)</li>
    <li>Whether to include the ability to rate charges by severity, e.g. "mild", "moderate", "serious", "severe"</li>
    <li>Whether to include the plea options "No Contest" and/or "N/A"</li>
    <li>Whether to include the case location in printed minutes</li>
    <li>The words that your school uses, e.g. "@OrgConfig.get().str_jc_name", "@OrgConfig.get().str_manual_title",
        "@OrgConfig.get().str_findings", etc.</li>
</ul>

<hr/>
<h2>@OrgConfig.get().str_manual_title</h2>
@helper.form(routes.Settings.editSettings()) {
<h4>Printing options</h4>
<p><label><input type="checkbox" name="show_last_modified_in_print"
        @if(org.show_last_modified_in_print){ checked }>
    Include the date of the last change for each rule, e.g. "changed 2017-3-4"</label>
<br/>
<label><input type="checkbox" name="show_history_in_print"
        @if(org.show_history_in_print){ checked }>
    Include the date of each change for each rule, e.g. "Adopted 2016-1-2; Amended 2016-3-25"</label>
</p>
<input type="hidden" name="manual_settings" value="true"/>
<input type="submit" value="Save @OrgConfig.get().str_manual_title settings"/></p>
}
