@(p : Person, history : PersonHistory, recent_rps : List[ Charge ],
 redact_names : Boolean)(implicit request: play.mvc.Http.Request)

@import helper._

@main(p.getDisplayName() + "'s " + OrgConfig.get(request).str_jc_name_short + " history", "jc") {

@if(request.flash.getOptional("notice").isPresent()) {
    <div class="flash-error">@request.flash.getOptional("notice").get()</div>
}


<script type="text/javascript">
$(function() {
    $("table.sortable").each(function (i) {
        sorttable.init();
        sorttable.innerSortFunction.apply($(this).find("th")[1], []);
    });
});
</script>

<form method="GET">
<p>Show history from
<input type="date" name="start_date" value="@Application.forDateInput(history.start_date)"> to
<input type="date" name="end_date" value="@Application.forDateInput(history.end_date)">
<input type="submit">
</p>
</form>

@person_history(p, history, recent_rps, redact_names)

}