@(m : Meeting)

@import helper._

@main("JC minutes from " + Application.formatMeetingDate(m.date)) {

<h3>JC minutes from @Application.formatMeetingDate(m.date)</h3>

<p>Committee:
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_JC_CHAIR) {
		<b>@p.person.getDisplayName()</b>,
	}
	@if(p.role == PersonAtMeeting.ROLE_JC_MEMBER) {
		@p.person.getDisplayName(),
	}
	@if(p.role == PersonAtMeeting.ROLE_JC_SUB) {
		(@p.person.getDisplayName()),
	}
	@if(p.role == PersonAtMeeting.ROLE_NOTE_TAKER) {
		@p.person.getDisplayName()*,
	}
}
</p>

<h4>&nbsp;<br>Resolution Plans</h4>
<table class="table resolution_plans">
	<tr><th width="80">Case<th>Person<th>Rule<th>Resolution Plan</tr>
	@for(c <- m.cases) {
		@for(charge <- c.charges) {
			@if( charge.person != null && charge.rule != null ) {
			<tr><td>@c.case_number<td>@charge.person.getDisplayName()
				<td>@charge.rule.title
					<td>@charge.resolution_plan
						@if( ! charge.plea.equals("Guilty") ) {
							<i>(Plea: @charge.plea)</i>
						}
						</tr>
			}
		}
	}
</table>

<h4>&nbsp;<br>Case Notes</h4>
<table class="table case_notes">
<tr><th>Case<th>Findings<th width="200">Charges</tr>
@for(c <- m.cases) {
	<tr>
	<td><h5>#@c.case_number</h5>
	<p>@if( c.date != null ) { @Application.formatDateShort(c.date). }
	Writer: @if( c.writer != null ) { @c.writer.getDisplayName(), } else {<i>unknown</i>,}
	location: @if(!c.location.equals("")) { @c.location. } else {<i>unknown</i>.}
	<td><p>Testifiers: @for( tr <- c.testify_records ) { @tr.person.getDisplayName(), }
		<p>@c.findings
	<td>@if( c.charges.size() > 0) {
		<ol>
		@for( charge <- c.charges ) {
			@if( charge.person != null && charge.rule != null) {
				<li>@charge.person.getDisplayName()&mdash;@charge.rule.title.
				@if( ! charge.plea.equals("Guilty") ) { <b>@charge.plea</b>. }
			} else {
				<li>Charge missing person and/or rule.
			}
		}
		</ol>
	} else {
		No charges.
	}
}
}
</table>

<p><a href="@routes.Application.editMeeting(m.id)">Edit these minutes</a>


