@(m : Meeting)

@import helper._

@main("JC resolution plans from " + Application.formatMeetingDate(m.date)) {

<script>
$(function() {
	print();
});
</script>

<table class="table printable-res-plans">
	@for(c <- m.cases) {
		@for(charge <- c.charges) {
			@if( charge.person != null && charge.rule != null 
				&& !charge.referred_to_sm
				&& !(charge.resolution_plan.trim().toLowerCase().equals("warning") ||
					 charge.resolution_plan.trim().toLowerCase().equals("warning."))
				&& charge.plea.equals("Guilty")) {
				@resolution_plan(charge)
			}
		}
	}
</table>

}

