@(m : Meeting)

@import helper._

@main("JC minutes from " + Application.formatMeetingDate(m.date)) {

<h3>JC minutes from @Application.formatMeetingDate(m.date)</h3>

<p>Committee:
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_JC_CHAIR) {
		<b>@p.person.getDisplayName()</b>,
	}
	@if(p.role == PersonAtMeeting.ROLE_JC_MEMBER) {
		@p.person.getDisplayName(),
	}
	@if(p.role == PersonAtMeeting.ROLE_JC_SUB) {
		(@p.person.getDisplayName()),
	}
	@if(p.role == PersonAtMeeting.ROLE_NOTE_TAKER) {
		@p.person.getDisplayName()*,
	}
}
</p>

<h4>&nbsp;<br>Resolution Plans</h4>
<table class="table resolution_plans">
	<thead><th width="70">Case<th width="20">Person<th width="280">Rule<th>Resolution Plan</thead>
	@for(c <- m.cases) {
		@for(charge <- c.charges) {
			@if( charge.person != null && charge.rule != null ) {
			<tr><td>@c.case_number<td>@charge.person.getDisplayName()
				<td>@charge.rule.title
					<td>@charge.resolution_plan
						@if( ! charge.plea.equals("Guilty") ) {
							<i>(Plea: @charge.plea)</i>
						}
						@if( charge.referred_to_sm ) {
							<br>*** Referred to School Meeting ***
						}
						</tr>
			}
		}
	}
</table>

<h4>&nbsp;<br>Case Notes</h4>
@caseTableOpen()
@for(c <- m.cases) {
	@caseTableRow(c)
}
</table>


@if(Application.isCurrentUserEditor()) {
	<p><a class="no-print" href="@routes.ApplicationEditing.editMeeting(m.id)">Edit these minutes</a>
}

}

