@(notifications : List [ NotificationRule ])

@main("Notification settings", "settings", "settings_notifications") {

<h3>Notification settings</h3>

<h4>Existing notification rules</h4>
<ul>
@for( n <- notifications ) {
  @if( n.the_type == NotificationRule.TYPE_TAG) {
    <li>When people are added to or removed from tag
		<label class="label label-success">@n.tag.title</label>, email <u>@n.email</u>
  }
  @if( n.the_type == NotificationRule.TYPE_DONATION) {
	  <li>When a donation is entered, email <u>@n.email</u>
  }
  @if( n.the_type == NotificationRule.TYPE_COMMENT) {
	  <li>When a comment about a person is added, optionally email <u>@n.email</u>
  }
  @helper.form(routes.Settings.editNotifications(), 'style -> "display: inline") {
  <input type="hidden" name="remove_notification_id" value=@n.id>
  <input type="submit" value="Remove">
  }
  </li>
}
</ul>

<h4>Add a new notification</h4>

@helper.form(routes.Settings.editNotifications()) {
When people are added to or removed from tag
<span id="tags-entered"></span><input type="text" id="tag-entry">,
email <input type="text" name="email"/>
<input type="submit" value="Create"/>
}

@helper.form(routes.Settings.editNotifications()) {
When a donation is entered, email <input type="text" name="email"/>
<input type="hidden" name="donation"/>
<input type="submit" value="Create"/>
}

@helper.form(routes.Settings.editNotifications()) {
When a comment about a person is entered,
email <input type="text" name="email"/>
<input type="hidden" name="comment"/>
<input type="submit" value="Create"/>
}

<script type="text/javascript">
requirejs(['utils'], function(utils) {
    utils.enableNoPersonTagBox("#tag-entry", "#tags-entered", true);
});
</script>

}

