@(m : Meeting)

@import helper._

@main("JC minutes from " + Application.formatMeetingDate(m.date)) {

<h3>JC minutes from @Application.formatMeetingDate(m.date)</h3>

<p><a href="@routes.Application.editMeeting(m.id)">Edit these minutes</a>


<table cellpadding=5 border=1>
<tr><td align=right>Chair:<td>
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_JC_CHAIR) {
		@p.person.first_name @p.person.last_name,
	}
}
<tr><td align=right>Committee Members:<td>
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_JC_MEMBER) {
		@p.person.first_name @p.person.last_name,
	}
}
<tr><td align=right>Subs:<td>
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_JC_SUB) {
		@p.person.first_name @p.person.last_name,
	}
}
<tr><td align=right>Notetaker:<td>
@for(p <- m.people_at_meeting) {
	@if(p.role == PersonAtMeeting.ROLE_NOTE_TAKER) {
		@p.person.first_name @p.person.last_name,
	}
}

</table>

@for(c <- m.cases) {
	<h4>Case #@c.case_number</h4>
	<p>@if( c.date != null ) { @Application.formatMeetingDate(c.date). }
	Written up by @if( c.writer != null ) { @c.writer.first_name } else {<i>unknown</i>}
	in @if(!c.location.equals("")) { the @c.location } else {<i>unknown</i>}.
	<p>People who testified:
	@for( tr <- c.testify_records ) { @tr.person.first_name @tr.person.last_name, }
	<p><b>Findings:</b> @c.findings
	@if( c.charges.size() > 0) {
		<ol>
		@for( charge <- c.charges ) {
			@if( charge.person != null && charge.rule != null) {
				<li>@charge.person.first_name was charged with violating "@charge.rule.title",
				and plead @charge.plea. Resolution plan: @charge.resolution_plan.
			} else {
				<li>Charge missing person and/or rule.
			}
		}
		</ol>
	} else {
		<p>No charges.
	}
}
}
