name: Format

on: [pull_request]

jobs:
    formatting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.ref }}
            - uses: axel-op/googlejavaformat-action@v4
              with:
                  args: '--replace'
                  release-name: 'v1.28.0' # See https://github.com/axel-op/googlejavaformat-action/issues/39
